/*@images-path: "../../../Images";*/
.moon-phase {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0;
  width: 100%;
}
.moon-phase .moon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  padding-right: 3px;
}
.moon-phase .moon-wrapper img {
  width: 45px;
  height: auto;
  margin-bottom: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.moon-phase .moon-wrapper.large img {
  width: 145px;
  margin-bottom: 0;
}
.moon-text {
  font-size: 0.8rem;
  color: #ccc;
  text-align: center;
}
.moon-text em {
  font-style: italic;
}