.chakra-code-container {
  text-align: center;
}
.chakra-code-container img {
  width: 100%;
}
.chakra-code-card {
  width: 100%;
  padding: 20px;
  margin: 20px auto;
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 10px;
  background-color: #f5f5f5;
  border: 2px solid #e6e6e6;
  text-align: center;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}
.chakra-code-card .summary {
  font-weight: bold;
  color: #444;
  margin: 10px 0;
  margin-top: 0;
  font-style: italic;
}
.chakra-code-card .description {
  font-size: 14px;
  color: #666;
  line-height: 1.5;
  margin-top: 22px;
}
.chakra-code-card img {
  max-width: 222px;
  height: auto;
}
.timeline {
  width: 100%;
  margin-top: 20px;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: #fff;
  padding: 10px 0;
  text-align: center;
}
.timeline .year-span {
  border-right: 1px solid #eee;
  width: 100%;
  text-align: center;
}
.timeline .active {
  -webkit-box-shadow: 0 0 24px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 24px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.2);
}
.timeline .active span {
  font-weight: bold;
}
.current {
  background: white;
  font-weight: bold;
  border: 2px solid black;
  -webkit-box-shadow: 0 0 24px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 24px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.2);
}
.chakra-code-planner-item {
  cursor: pointer;
}