:root {
  --primary-blue: #337ab7;
  --vibrant-green: #22BB44;
  --vibrant-green-10: #36da5a;
  --vibrant-green-30: rgba(34, 187, 68, 0.3);
  --vibrant-green-40: rgba(34, 187, 68, 0.4);
  --vibrant-red: #f44336;
  --vibrant-orange: #FF9800;
  --error-red: #cc0000;
  --snow-white: #ffffff;
  --charcoal-black: #0f1215;
  --border-grey: #dddddd;
  --light-grey: #888888;
  --background-color: #ffffff;
  --surface-color: #eeeeee;
  --text-color: #444444;
  --hover-text-color: #515151;
  --border-color: #dddddd;
  --well-color: linear-gradient(to bottom, #f9f9f9 0, #fdfdfd 100%);
  --panel-header-top: #f7fbff;
  --panel-header-bottom: #f0f8ff;
  --panel-header-text-color: #444444;
  --title-color: #0a4070;
  --subtitle-color: #337ab7;
  --page-background: #ffffff;
  --page-title-color: #331a00;
  --pills-tab-text-color: #0a4070;
  --pills-tab-hover: #ffffff;
  --pills-tab-active: linear-gradient(to bottom, #ffffff 0, #f9f9f9 100%);
  --pills-tab-active-hover: #ffffff;
  --pills-tab-background: transparent;
  --table-background-color: #f0f8ff;
  --table-background: linear-gradient(to bottom, #f7fbff 0%, #f0f8ff 100%);
  --table-border-color: transparent;
  --nav-pills-button-background: #d9d9d9;
  --readmore-overlay-background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 22%, #ffffff 81%);
  --ninestar-summary-container-hover: #ffffff;
  --body-background: #ffffff;
  --page-overlay-color: rgba(0, 0, 0, 0.3);
  --page-fadein-color: #ffffff;
}
.dark-mode {
  --primary-blue: #63a0d4;
  --vibrant-green: #36da5a;
  --vibrant-green-10: #61e27e;
  --vibrant-green-30: rgba(34, 187, 68, 0.3);
  --vibrant-green-40: rgba(34, 187, 68, 0.4);
  --vibrant-red: #f8877f;
  --vibrant-orange: #ffb74d;
  --error-red: #ff1a1a;
  --snow-white: #ffffff;
  --charcoal-black: #2f3842;
  --border-grey: #ffffff;
  --light-grey: #aeaeae;
  --background-color: #0f1215;
  --surface-color: #444444;
  --text-color: #f9f9f9;
  --hover-text-color: #ffffff;
  --border-color: #ffffff;
  --well-color: #091a22;
  --panel-header-top: #246587;
  --panel-header-bottom: #0f2c3a;
  --panel-header-text-color: #f9f9f9;
  --title-color: #e7e7e7;
  --subtitle-color: #f9f9f9;
  --page-background: rgba(20, 56, 74, 0.72);
  --page-title-color: #f9f9f9;
  --pills-tab-text-color: #f9f9f9;
  --pills-tab-hover: linear-gradient(to bottom, #1e5875 0, rgba(20, 56, 74, 0.11) 100%);
  --pills-tab-active: linear-gradient(to bottom, #276e93 0, rgba(20, 56, 74, 0.11) 100%);
  --pills-tab-active-hover: #47a0ce;
  --pills-tab-background: rgba(20, 56, 74, 0.11);
  --table-background-color: rgba(20, 56, 74, 0.72);
  --table-background: linear-gradient(to bottom, rgba(20, 56, 74, 0.33) 0%, rgba(20, 56, 74, 0.11) 100%);
  --table-border-color: #f9f9f9;
  --nav-pills-button-background: #1e5875;
  --readmore-overlay-background: linear-gradient(to bottom, rgba(20, 56, 74, 0) 22%, #14384a 81%);
  --ninestar-summary-container-hover: #14384a;
  --body-background: #14384a;
  --page-overlay-color: rgba(0, 0, 0, 0.3);
  --page-fadein-color: #ffffff;
}
/*@images-path: "../../../Images";*/
.membership-option-container {
  display: table;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 0;
  text-align: center;
  width: 150px;
  height: 200px;
  border-left: 1px solid #a5a5a5;
  border-right: 1px solid #a5a5a5;
  border-radius: 10px;
  background-color: var(--snow-white);
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.membership-option-container .special-promotion {
  color: #666666 !important;
  font-size: 0.9em;
}
.membership-option-title {
  padding: 6px;
  background-color: #f6f6f6;
  border-top: 1px solid #a5a5a5;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 1px solid var(--light-grey);
}
.membership-option-title h5 {
  font-size: 1em;
  line-height: 1.5em;
  margin: 0;
}
.membership-footer {
  padding: 12px 0;
  font-size: 1em;
  line-height: 1.5em;
  border-top: 1px solid #a5a5a5;
  border-bottom: 1px solid #a5a5a5;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #f6f6f6;
}
.membership-footer p.footer-text {
  margin-top: 10px;
  font-size: 0.9em !important;
  line-height: 1.1em !important;
  color: var(--primary-blue);
  font-weight: bold;
}
.membership-footer p.footer-text span {
  font-size: 1.5em;
  color: gold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  vertical-align: top;
}
.membership-footer .btn {
  margin: 7px;
  width: auto !important;
}
.membership-option {
  width: 200px;
  position: relative;
}
.membership-medal {
  width: 200px;
  height: 200px;
  background-position-y: bottom !important;
  background-position-x: center !important;
  background-size: contain !important;
}
.membership-medal-item {
  position: absolute;
  width: 100%;
  text-align: center;
  color: #8b4513;
}
.membership-price {
  top: 47px;
  font-size: 0.9em;
}
.membership-element {
  top: 74px;
  font-size: 0.9em;
  line-height: 1.4em;
  text-transform: uppercase;
  color: #8b4513;
}
.membership-period {
  top: 133px;
  font-size: 0.8em;
  line-height: 1.2em;
  text-transform: uppercase;
}
.membership-description {
  font-size: 0.8em;
  color: #333333;
  text-align: left;
}
.membership-description p {
  margin-bottom: 5px;
  font-size: 1.1em;
}
.membership-description p:first-child {
  margin-top: 15px;
}
.membership-description ul li {
  font-size: 1em;
}
.membership-description:first-child {
  padding-right: 5px;
}
.membership-description:last-child {
  padding-left: 5px;
}
.medal-footer {
  font-size: 0.7em !important;
}
.platinum {
  background: url('https://link.storjshare.io/raw/jxneumevusbsv3gkpge55qqdq44a/cdn-media/Images/membership/membership-medal.png') no-repeat 0 0;
}
.free {
  background: url('https://link.storjshare.io/raw/jxneumevusbsv3gkpge55qqdq44a/cdn-media/Images/membership/membership-medal-green.png') no-repeat 0 0;
}
.standard {
  background: url('https://link.storjshare.io/raw/jxneumevusbsv3gkpge55qqdq44a/cdn-media/Images/membership/membership-medal.png') no-repeat 0 0;
}
.membership-selected {
  border: 2px solid var(--vibrant-green);
}
.membership-selected-container {
  padding: 0;
}
.membership-valid-until-container {
  font-size: 0.8em !important;
  margin-top: 5px;
  padding: 0;
}
.support-us-option {
  display: table;
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
  width: 150px;
  height: 200px;
  border: 1px solid #a5a5a5;
  border-radius: 6px;
  padding: 5px;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.support-us-option h4 {
  color: black;
  height: 40px;
}
.membership-summary h4 {
  margin-top: 0 !important;
}
.membership-summary h5 {
  font-weight: bold !important;
  font-size: 1.2em;
}
.credit-packs h5,
.credit-packs h4 {
  font-weight: bold;
}
.credit-packs .row {
  padding: 0;
}
.credit-back-summary {
  background: white;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #eeeeee;
}
.upgrade-container:not(:empty) {
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
  padding-top: 15px;
}
.upgrade-container img {
  margin-top: 20px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 0 12px 5px rgba(255, 215, 0, 0.2);
  animation: gentleOscillation 0.9s ease-in-out infinite;
  display: inline-block;
}
.upgrade-container h2 {
  font-size: 1.22em;
}
@keyframes gentleOscillation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.why-upgrade-container ul li em {
  display: block;
  font-style: normal;
  font-size: 0.9em;
  color: #666666;
}
@media (max-width: 1024px) and (max-width: 920px) {
  .membership-option {
    width: 180px;
  }
  .membership-medal {
    width: 180px;
    height: 180px;
  }
  .membership-price {
    top: 36px;
    font-size: 0.9em;
  }
  .membership-element {
    top: 63px;
    /*font-size: 0.9em;
        line-height: 1.4em;*/
  }
  .membership-period {
    top: 122px;
    /*font-size: 0.8em;
        line-height: 1.2em;*/
  }
}
@media (min-width: 768px) and (max-width: 920px) {
  .membership-option {
    width: 160px;
  }
  .membership-medal {
    width: 160px;
    height: 160px;
  }
  .membership-price {
    top: 27px;
    font-size: 0.9em;
  }
  .membership-element {
    top: 54px;
  }
  .membership-period {
    top: 108px;
  }
}
@media (max-width: 513px) {
  .nav-tabs li {
    width: 100%;
  }
}