:root {
  --primary-blue: #337ab7;
  --vibrant-green: #22BB44;
  --vibrant-green-10: #36da5a;
  --vibrant-green-30: rgba(34, 187, 68, 0.3);
  --vibrant-green-40: rgba(34, 187, 68, 0.4);
  --vibrant-red: #f44336;
  --vibrant-orange: #FF9800;
  --error-red: #cc0000;
  --snow-white: #ffffff;
  --charcoal-black: #0f1215;
  --border-grey: #dddddd;
  --light-grey: #888888;
  --background-color: #ffffff;
  --background-color-hover: #f2f2f2;
  --surface-color: #eeeeee;
  --text-color: #444444;
  --hover-text-color: #515151;
  --border-color: #dddddd;
  --well-color: linear-gradient(to bottom, #f9f9f9 0, #fdfdfd 100%);
  --panel-header-top: #f7fbff;
  --panel-header-bottom: #f0f8ff;
  --panel-header-text-color: #444444;
  --title-color: #0a4070;
  --subtitle-color: #337ab7;
  --page-background: #ffffff;
  --page-title-color: #331a00;
  --pills-tab-text-color: #0a4070;
  --pills-tab-hover: #ffffff;
  --pills-tab-active: linear-gradient(to bottom, #ffffff 0, #f9f9f9 100%);
  --pills-tab-active-hover: #ffffff;
  --pills-tab-background: transparent;
  --table-background-color: #f0f8ff;
  --table-background: linear-gradient(to bottom, #f7fbff 0%, #f0f8ff 100%);
  --table-border-color: transparent;
  --nav-pills-button-background: #d9d9d9;
  --readmore-overlay-background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 22%, #ffffff 81%);
  --ninestar-summary-container-hover: #ffffff;
  --body-background: #ffffff;
  --page-overlay-color: rgba(0, 0, 0, 0.3);
  --page-fadein-color: #ffffff;
}
.dark-mode {
  --primary-blue: #63a0d4;
  --vibrant-green: #36da5a;
  --vibrant-green-10: #61e27e;
  --vibrant-green-30: rgba(34, 187, 68, 0.3);
  --vibrant-green-40: rgba(34, 187, 68, 0.4);
  --vibrant-red: #f8877f;
  --vibrant-orange: #ffb74d;
  --error-red: #ff1a1a;
  --snow-white: #ffffff;
  --charcoal-black: #2f3842;
  --border-grey: #ffffff;
  --light-grey: #aeaeae;
  --background-color: #0f1215;
  --background-color-hover: #2f3842;
  --surface-color: #444444;
  --text-color: #f9f9f9;
  --hover-text-color: #ffffff;
  --border-color: #ffffff;
  --well-color: #091a22;
  --panel-header-top: #246587;
  --panel-header-bottom: #0f2c3a;
  --panel-header-text-color: #f9f9f9;
  --title-color: #e7e7e7;
  --subtitle-color: #f9f9f9;
  --page-background: rgba(20, 56, 74, 0.72);
  --page-title-color: #f9f9f9;
  --pills-tab-text-color: #f9f9f9;
  --pills-tab-hover: linear-gradient(to bottom, #1e5875 0, rgba(20, 56, 74, 0.11) 100%);
  --pills-tab-active: linear-gradient(to bottom, #276e93 0, rgba(20, 56, 74, 0.11) 100%);
  --pills-tab-active-hover: #47a0ce;
  --pills-tab-background: rgba(20, 56, 74, 0.11);
  --table-background-color: rgba(20, 56, 74, 0.72);
  --table-background: linear-gradient(to bottom, rgba(20, 56, 74, 0.33) 0%, rgba(20, 56, 74, 0.11) 100%);
  --table-border-color: #f9f9f9;
  --nav-pills-button-background: #1e5875;
  --readmore-overlay-background: linear-gradient(to bottom, rgba(20, 56, 74, 0) 22%, #14384a 81%);
  --ninestar-summary-container-hover: #14384a;
  --body-background: #14384a;
  --page-overlay-color: rgba(0, 0, 0, 0.3);
  --page-fadein-color: #ffffff;
}
/*@images-path: "https://link.storjshare.io/raw/jxneumevusbsv3gkpge55qqdq44a/cdn-media/Images";*/
.navbar {
  margin-bottom: 0 !important;
  height: 0;
  min-height: 0;
  margin: 0 0 3em 0;
}
.top-nav ul {
  padding: 0;
  margin: 0;
}
.top-nav ul li {
  display: inline-block;
  float: left;
  width: 12.5%;
}
.top-nav ul li:nth-child(6) {
  margin-right: 0;
}
.top-nav ul li ul {
  width: 100%;
}
.top-nav ul li ul li {
  width: 100%;
}
.top-nav ul li ul li.sub-item a {
  width: 100%;
  text-align: center;
  display: inline-block;
}
ul.nav.navbar-nav:not(.dropdown-menu) {
  float: none;
  text-align: center;
  font-weight: normal;
  background: none;
}
.navbar-default,
.navbar-collapse,
.navbar-form {
  background: none;
  border: none !important;
}
.navbar-default .navbar-nav > .active > a {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.top-nav {
  height: 100%;
  position: relative;
}
.top-nav ul:not(.dropdown-menu) li a {
  color: var(--snow-white);
}
.top-nav ul li a {
  color: var(--snow-white);
  font-size: 1em;
  font-weight: 300 !important;
  margin: 0;
  text-decoration: none;
  padding: 1em;
  padding-left: 0;
  padding-right: 0;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.top-nav ul li a:hover {
  color: var(--vibrant-orange) !important;
}
.top-nav ul li a.active {
  color: var(--vibrant-orange) !important;
  font-weight: 400;
}
#account-header {
  background: black;
  height: 40px;
  padding: 1em 0;
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 13000;
}
#account-header ul {
  position: fixed;
  margin-bottom: 0;
  top: 0;
  height: auto;
  font-size: 0.9em;
  font-weight: 200;
  padding: 0 6px 0 6px;
  z-index: 13000;
  background: #020202 !important;
}
#account-header ul.site-controls {
  right: 0;
  margin-right: 10px;
}
#account-header ul.site-controls > li:hover a,
#account-header ul .main-navbar > li:hover a {
  color: var(--vibrant-orange) !important;
  background: none !important;
}
#account-header ul.site-controls > li.active a,
#account-header ul .main-navbar > li.active a {
  color: var(--vibrant-orange);
  font-weight: bold;
  background: none !important;
}
#account-header ul.admin-menu {
  left: 0;
  margin-left: 5px;
  width: 233px !important;
}
#account-header ul.admin-menu ul.dropdown-menu {
  margin-top: 40px;
  background: none;
  width: 233px;
}
#account-header ul.admin-menu ul.dropdown-menu li {
  width: 100%;
}
#account-header ul.admin-menu ul.dropdown-menu li.active > a {
  color: var(--vibrant-orange) !important;
  font-weight: 400;
  background: none;
}
#account-header ul.admin-menu ul.dropdown-menu li a {
  color: white !important;
}
#account-header ul.admin-menu ul.dropdown-menu li a:hover {
  font-weight: 600;
  color: var(--charcoal-black) !important;
  transition: none;
}
#account-header ul.admin-menu .theme-selector::before {
  content: "✓";
  display: none;
  margin-right: 6px;
  color: var(--primary-blue);
  /* or any accent colour */
}
#account-header ul.admin-menu .theme-selector.active::before {
  display: inline-block;
}
#account-header ul > li {
  display: inline-block;
  height: 100%;
  background: black;
  color: white !important;
}
#account-header ul > li a {
  display: block;
  color: white;
  width: 100%;
  height: 100%;
  padding-top: 10px;
  padding-left: 15px;
}
div#main-logo-container {
  position: fixed;
  width: 200px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 40px;
  z-index: 9003;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
div#main-logo-container.menu-main {
  height: 180px;
}
div#main-logo-container.menu-small {
  height: 100px;
}
div#main-logo-container a.active div {
  opacity: 1;
}
div#main-logo-container a div {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: 4px;
  margin-top: -1px;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  cursor: pointer;
  display: block;
  opacity: 0.8;
}
div#main-logo-container a div:hover {
  opacity: 1;
}
#main-menu-container {
  position: fixed;
  top: 40px;
  width: 100%;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -o-transition: all 0.35s ease-in-out;
  z-index: 9000;
}
#main-menu-container.menu-main {
  height: 120px;
  background-color: rgba(22, 22, 22, 0.4);
}
#main-menu-container.menu-small {
  height: 60px;
  background-color: rgba(10, 10, 10, 0.9);
}
#bs-navbar-collapse-1 {
  position: fixed;
  left: 0;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -o-transition: all 0.35s ease-in-out;
}
#bs-navbar-collapse-1.menu-main {
  top: 71px;
}
#bs-navbar-collapse-1.menu-small {
  top: 45px;
}
#bs-navbar-collapse-1.menu-small ul li a {
  font-size: 0.9em;
}
ul.main-navbar .open ul.dropdown-menu {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  font-size: 0.7em;
}
ul.main-navbar .open ul.dropdown-menu li.active > a {
  color: var(--vibrant-orange) !important;
  font-weight: 600;
}
ul.main-navbar .open ul.dropdown-menu li:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
ul.main-navbar .open ul.dropdown-menu li:last-child:hover {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
ul.main-navbar .open ul.dropdown-menu li:hover a {
  font-weight: 600;
  color: var(--vibrant-orange) !important;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}
ul.main-navbar li.open a {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  color: white !important;
  text-align: center;
}
#main-menu-spacer {
  height: 122px;
}
div.main-logo {
  height: 174px;
  width: 174px;
  background-image: url('../../Images/company/logo-notext.png');
  background-repeat: no-repeat;
}
div.small-logo {
  height: 88px;
  width: 88px;
  background-image: url('../../Images/company/logo-small.png');
  background-repeat: no-repeat;
}
.nav > li > a:hover,
.nav > li > a {
  border-radius: 10px;
}
.nav > li > a:hover,
.nav > li > a:focus {
  border-radius: 10px;
}
#account-controls a .fa {
  margin-right: 0;
}
.navbar-nav:not(.navbar-login):not(.dropdown-menu) li.active a {
  color: var(--vibrant-orange) !important;
  background: none !important;
}
#admin-menu-items {
  overflow-y: auto;
  max-height: 95%;
}