.ninestar-summary-container {
  width: 100%;
  padding: 1px;
  padding-bottom: 5px;
  border-radius: 6px;
}
.ninestar-summary-container h3 {
  font-size: 1.1em;
  font-weight: bold;
  display: block;
  text-align: center;
  min-height: 20px;
  margin-bottom: 10px;
}
.ninestar-summary-container p {
  text-align: center !important;
  margin-bottom: 10px;
  color: black !important;
}
a > .ninestar-summary-container {
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  text-decoration: none !important;
}
a > .ninestar-summary-container:hover {
  background-color: white !important;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  text-decoration: none !important;
}
.energy-summary-container a {
  text-decoration: none !important;
}
.energy-summary-container .row div.col-sm-4 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.ninestar-summmary {
  width: 100%;
}
.child-profile .adult-profile {
  opacity: 0.3;
  filter: grayscale(100%);
}
.energy-image-container {
  width: 160px;
  display: table;
  margin: auto;
}
.energy-image-container img {
  width: 100%;
}
.energy-image-container.lunar-house img {
  width: 81%;
}
.small-energy img {
  width: 38%;
}
.small-energy .lunar-house img {
  width: 27%;
}
.small-energy div.magic-square {
  width: 68%;
}
.small-energy div.magic-square div.cell {
  font-size: 1.3rem;
}
.small-energy div.magic-square div.cell.active {
  font-size: calc(1.3rem * 1.5);
}
.small-energy div.magic-square div.cell.active-lunar {
  font-size: calc(1.3rem * 1.3);
}
.medium-energy img {
  width: 62%;
}
.medium-energy .lunar-house img {
  width: 54%;
}
.medium-energy div.magic-square {
  width: 88%;
}
.medium-energy div.magic-square div.cell {
  font-size: 1.6rem;
}
.medium-energy div.magic-square div.cell.active {
  font-size: calc(1.6rem * 1.5);
}
.medium-energy div.magic-square div.cell.active-lunar {
  font-size: calc(1.6rem * 1.3);
}
.very-small-energy img {
  width: 24%;
}
.very-small-energy .lunar-house img {
  width: 18%;
}
.very-small-energy div.magic-square {
  width: 48%;
}
.very-small-energy div.magic-square div.cell {
  font-size: 1rem;
}
.very-small-energy div.magic-square div.cell.active {
  font-size: calc(1rem * 1.5);
}
.very-small-energy div.magic-square div.cell.active-lunar {
  font-size: calc(1rem * 1.3);
}
.profile-warning {
  color: #a94442;
  text-align: center;
}
.profile-warning img {
  width: 16px;
  height: 16px;
  margin-bottom: 4px;
}
.planner-container {
  max-height: 400px;
  overflow-y: scroll;
  font-size: 0.8em;
}
.planner-container .row {
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 6px;
  border-radius: 8px;
}
.planner-container .row:hover {
  background: #eeeeee;
}
.planner-container .row.active {
  background: #337ab7;
  color: white !important;
}
.planner-container .row.active h3 {
  color: white !important;
}
.planner-container .row div .ninestar-summary-container p,
.planner-container .row div .ninestar-summary-container h3 {
  text-align: left !important;
}
.planner-container .row img {
  height: 36px;
  margin-top: 20px;
}
.cycles-summary h4:first-child,
.cycles-summary .cycle-summary:first-of-type h3:first-child {
  margin-top: 0;
}
.energies-summary h4:first-child {
  margin-top: 0;
}
.modality-energy-container {
  padding: 5px;
  padding-bottom: 0;
  margin-bottom: 0;
}
.organs-container {
  margin-bottom: 9px;
}
.organs-container img {
  display: table;
  margin: auto;
  width: 100%;
}
.organs-container h5 {
  margin-top: 5px;
}
.magic-square-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.magic-square-container .magic-square {
  position: relative;
  width: 100%;
  aspect-ratio: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  outline: 1px solid #dddddd;
  box-sizing: border-box;
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
}
.magic-square-container .magic-square .cell {
  border-bottom: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  line-height: unset;
  filter: grayscale(45%);
  overflow: hidden;
  padding-bottom: 2px;
}
.magic-square-container .magic-square .cell.active,
.magic-square-container .magic-square .cell.active-lunar {
  border: 0;
  font-size: calc(2rem * 1.54);
  font-weight: bold;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.5);
  transform: scale(1.22);
  position: relative;
  z-index: 2 !important;
}
.magic-square-container .magic-square .cell.active-lunar {
  font-size: calc(2rem * 1.3);
  transform: scale(1.11);
}
.magic-square-container .magic-square .cell.number-1 {
  background-color: white;
  color: black;
}
.magic-square-container .magic-square .cell.number-2 {
  background-color: black;
  color: #cd853f;
}
.magic-square-container .magic-square .cell.number-3 {
  background-color: #4cff00;
  color: #8b4513;
}
.magic-square-container .magic-square .cell.number-4 {
  background-color: #307813;
  color: white;
}
.magic-square-container .magic-square .cell.number-5 {
  background-color: yellow;
  color: #8b4513;
}
.magic-square-container .magic-square .cell.number-6 {
  background-color: white;
  color: red;
}
.magic-square-container .magic-square .cell.number-7 {
  background-color: red;
  color: white;
}
.magic-square-container .magic-square .cell.number-8 {
  background-color: white;
  color: #8b4513;
}
.magic-square-container .magic-square .cell.number-9 {
  background-color: #c321dc;
  color: white;
}
.directions-line-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(1.11);
  pointer-events: none;
  z-index: 3;
  filter: grayscale(45%);
}
.directions-line-overlay .line {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center top;
  transform: translate(-50%, 0);
  width: 3px;
  height: 50%;
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.7);
  opacity: 0.72;
  pointer-events: auto;
  cursor: help;
}
.directions-line-overlay .line::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 1.5px;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 11px solid currentColor;
}
.directions-line-overlay .line.five-yellow-killing {
  background: yellow;
}
.directions-line-overlay .line.five-yellow-killing::after {
  border-top: 8px solid yellow;
}
.directions-line-overlay .line.five-yellow-killing.to-Centre {
  background: rgba(255, 255, 0, 0.22);
}
.directions-line-overlay .line.dark-sword-killing {
  background: #333;
}
.directions-line-overlay .line.dark-sword-killing::after {
  border-top: 8px solid #333;
}
.directions-line-overlay .line.dark-sword-killing.to-Centre {
  background: rgba(51, 51, 51, 0.22);
}
.directions-line-overlay .line.self-life-killing {
  background: red;
}
.directions-line-overlay .line.self-life-killing::after {
  border-top: 8px solid red;
}
.directions-line-overlay .line.self-life-killing.to-Centre {
  background: rgba(255, 0, 0, 0.22);
}
.directions-line-overlay .line.target-killing {
  background: blue;
}
.directions-line-overlay .line.target-killing::after {
  border-top: 8px solid blue;
}
.directions-line-overlay .line.target-killing.to-Centre {
  background: rgba(0, 0, 255, 0.22);
}
.directions-line-overlay .to-North {
  transform: translate(-50%, 0) rotate(0deg);
}
.directions-line-overlay .to-South {
  transform: translate(-50%, 0) rotate(180deg);
}
.directions-line-overlay .to-East {
  transform: translate(-50%, 0) rotate(90deg);
}
.directions-line-overlay .to-West {
  transform: translate(-50%, 0) rotate(-90deg);
}
.directions-line-overlay .to-NorthEast {
  height: 70.7%;
  transform: translate(-50%, 0) rotate(45deg);
}
.directions-line-overlay .to-SouthEast {
  height: 70.7%;
  transform: translate(-50%, 0) rotate(135deg);
}
.directions-line-overlay .to-SouthWest {
  height: 70.7%;
  transform: translate(-50%, 0) rotate(225deg);
}
.directions-line-overlay .to-NorthWest {
  height: 70.7%;
  transform: translate(-50%, 0) rotate(315deg);
}
.directions-line-overlay .to-Centre {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 101%;
  height: 101%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 3px solid red;
  background-color: rgba(255, 255, 255, 0.22);
}
.directions-line-overlay .to-Centre::after {
  display: none;
}
.magic-tooltip {
  position: absolute;
  width: 333px;
  height: auto;
  background: #337ab7;
  opacity: 0.9;
  color: #fff;
  padding: 6px 10px;
  border-radius: 4px;
  font-size: 0.9rem;
  z-index: 1000;
  pointer-events: none;
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.7);
}
.magic-tooltip .title {
  font-weight: bold;
  font-size: 1rem;
}
.overview-container h4 {
  margin-bottom: 0;
}
.overview-container h4 + p em {
  font-style: italic;
  font-size: 0.9rem;
  color: #aaa;
  margin-top: 0;
  margin-bottom: 0;
  display: block;
}
.calculator-options {
  margin-bottom: -7px;
}
.calculator-options .form-check {
  cursor: pointer;
}
.calculator-options .form-check input,
.calculator-options .form-check label {
  cursor: pointer;
}
.calculator-options label {
  position: relative;
  top: -2px;
  margin-right: 5px;
  font-size: 0.9em;
  font-weight: normal;
}
.split-title {
  background: #f9f9f9;
  margin: 9px 0;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.2);
}