.ninestar-summary-container {
  width: 100%;
  padding: 1px;
  padding-bottom: 5px;
  border-radius: 6px;
}
.ninestar-summary-container h3 {
  font-size: 1.1em;
  font-weight: bold;
  display: block;
  text-align: center;
  min-height: 20px;
  margin-bottom: 10px;
}
.ninestar-summary-container p {
  text-align: center !important;
  margin-bottom: 10px;
  color: black !important;
}
a > .ninestar-summary-container {
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  text-decoration: none !important;
}
a > .ninestar-summary-container:hover {
  background-color: white !important;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  text-decoration: none !important;
}
.energy-summary-container a {
  text-decoration: none !important;
}
.ninestar-summmary {
  width: 100%;
}
.child-profile .adult-profile {
  opacity: 0.3;
  filter: grayscale(100%);
}
.energy-image-container {
  width: 160px;
  display: table;
  margin: auto;
}
.energy-image-container img {
  width: 100%;
}
.small-energy img {
  width: 38%;
}
.small-energy .magic-square-container {
  font-size: 38%;
}
.medium-energy img {
  width: 62%;
}
.medium-energy .magic-square-container {
  font-size: 62%;
}
.very-small-energy img {
  width: 24%;
}
.very-small-energy .magic-square-container {
  font-size: 24%;
}
.profile-warning {
  color: #a94442;
  text-align: center;
}
.profile-warning img {
  width: 16px;
  height: 16px;
  margin-bottom: 4px;
}
.planner-container {
  max-height: 400px;
  overflow-y: scroll;
  font-size: 0.8em;
}
.planner-container .row {
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 6px;
  border-radius: 8px;
}
.planner-container .row:hover {
  background: #eeeeee;
}
.planner-container .row.active {
  background: #337ab7;
  color: white !important;
}
.planner-container .row.active h3 {
  color: white !important;
}
.planner-container .row div .ninestar-summary-container p,
.planner-container .row div .ninestar-summary-container h3 {
  text-align: left !important;
}
.planner-container .row img {
  height: 36px;
  margin-top: 20px;
}
.cycles-summary h4:first-child,
.cycles-summary .cycle-summary:first-of-type h3:first-child {
  margin-top: 0;
}
.energies-summary h4:first-child {
  margin-top: 0;
}
.modality-energy-container {
  padding: 5px;
  padding-bottom: 0;
  margin-bottom: 0;
}
.organs-container {
  margin-bottom: 9px;
}
.organs-container img {
  display: table;
  margin: auto;
  width: 100%;
}
.organs-container h5 {
  margin-top: 5px;
}
.magic-square-display {
  display: none;
}
.magic-square-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.magic-square {
  width: 100%;
  aspect-ratio: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  outline: 1px solid #dddddd;
  box-sizing: border-box;
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
}
.magic-square .cell {
  border-bottom: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
}
.magic-square .cell.active {
  font-weight: bold;
}