:root {
  --primary-blue: #337ab7;
  --vibrant-green: #22BB44;
  --vibrant-green-10: #36da5a;
  --vibrant-green-30: rgba(34, 187, 68, 0.3);
  --vibrant-green-40: rgba(34, 187, 68, 0.4);
  --vibrant-red: #f44336;
  --vibrant-orange: #FF9800;
  --error-red: #cc0000;
  --snow-white: #ffffff;
  --charcoal-black: #0f1215;
  --border-grey: #dddddd;
  --light-grey: #888888;
  --background-color: #ffffff;
  --surface-color: #eeeeee;
  --text-color: #444444;
  --hover-text-color: #515151;
  --border-color: #dddddd;
  --well-color: linear-gradient(to bottom, #f9f9f9 0, #fdfdfd 100%);
  --panel-header-top: #f7fbff;
  --panel-header-bottom: #f0f8ff;
  --panel-header-text-color: #444444;
  --title-color: #0a4070;
  --subtitle-color: #337ab7;
  --page-background: #ffffff;
  --page-title-color: #331a00;
  --pills-tab-text-color: #0a4070;
  --pills-tab-hover: #ffffff;
  --pills-tab-active: #ffffff;
  --pills-tab-active-hover: #ffffff;
}
.dark-mode {
  --primary-blue: #63a0d4;
  --vibrant-green: #36da5a;
  --vibrant-green-10: #61e27e;
  --vibrant-green-30: rgba(34, 187, 68, 0.3);
  --vibrant-green-40: rgba(34, 187, 68, 0.4);
  --vibrant-red: #f8877f;
  --vibrant-orange: #ffb74d;
  --error-red: #ff1a1a;
  --snow-white: #ffffff;
  --charcoal-black: #2f3842;
  --border-grey: #ffffff;
  --light-grey: #aeaeae;
  --background-color: #0f1215;
  --surface-color: #444444;
  --text-color: #f9f9f9;
  --hover-text-color: #ffffff;
  --border-color: #ffffff;
  --well-color: #091a22;
  --panel-header-top: #246587;
  --panel-header-bottom: #0f2c3a;
  --panel-header-text-color: #f9f9f9;
  --title-color: #e7e7e7;
  --subtitle-color: #f9f9f9;
  --page-background: rgba(20, 56, 74, 0.72);
  --page-title-color: #f9f9f9;
  --pills-tab-text-color: #f9f9f9;
  --pills-tab-hover: linear-gradient(to bottom, #1e5875 0, rgba(20, 56, 74, 0.11) 100%);
  --pills-tab-active: linear-gradient(to bottom, #276e93 0, rgba(20, 56, 74, 0.11) 100%);
  --pills-tab-active-hover: #47a0ce;
}
.sr-root {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1200px;
  padding: 0;
  align-content: center;
  justify-content: center;
  height: auto;
  margin: 0 auto;
}
.sr-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  align-self: center;
  padding: 30px;
  padding-bottom: 10px;
  background: var(--body-color);
  width: 100%;
  border-radius: var(--radius);
  box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1), 0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
}
.sr-field-error {
  color: var(--font-color);
  text-align: left;
  font-size: 13px;
  line-height: 17px;
  margin-top: 12px;
}
/* Inputs */
.sr-input {
  border: 1px solid var(--gray-border);
  border-radius: var(--radius);
  padding: 5px 12px;
  height: 44px;
  width: 100%;
  transition: box-shadow 0.2s ease;
  background: white;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
.sr-input:focus,
.sr-input .focused {
  box-shadow: 0 0 0 1px rgba(50, 151, 211, 0.3), 0 1px 1px 0 rgba(0, 0, 0, 0.07), 0 0 0 4px rgba(50, 151, 211, 0.3);
  outline: none;
  z-index: 9;
}
.sr-input::placeholder {
  color: var(--gray-light);
}
.sr-result {
  height: auto;
  -webkit-transition: height 1s ease;
  -moz-transition: height 1s ease;
  -o-transition: height 1s ease;
  transition: height 1s ease;
  color: var(--font-color);
  overflow: auto;
}
.sr-result code {
  overflow: scroll;
}
.sr-combo-inputs-row {
  box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1), 0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
  border-radius: 7px;
}
/* Stripe Element placeholder */
.sr-card-element {
  padding-top: 12px;
}
/* todo: spinner/processing state, errors, animations */
.spinner,
.spinner:before,
.spinner:after {
  border-radius: 50%;
}
.spinner {
  color: var(--snow-white);
  font-size: 22px;
  text-indent: -99999px;
  margin: 0px auto;
  position: relative;
  width: 20px;
  height: 20px;
  box-shadow: inset 0 0 0 2px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.spinner:before,
.spinner:after {
  position: absolute;
  content: "";
}
.spinner:before {
  width: 10.4px;
  height: 20.4px;
  background: var(--accent-color);
  border-radius: 20.4px 0 0 20.4px;
  top: -0.2px;
  left: -0.2px;
  -webkit-transform-origin: 10.4px 10.2px;
  transform-origin: 10.4px 10.2px;
  -webkit-animation: loading 2s infinite ease 1.5s;
  animation: loading 2s infinite ease 1.5s;
}
.spinner:after {
  width: 10.4px;
  height: 10.2px;
  background: var(--accent-color);
  border-radius: 0 10.2px 10.2px 0;
  top: -0.1px;
  left: 10.2px;
  -webkit-transform-origin: 0px 10.2px;
  transform-origin: 0px 10.2px;
  -webkit-animation: loading 2s infinite ease;
  animation: loading 2s infinite ease;
}
@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* Animated form */
.sr-root {
  animation: 0.4s form-in;
  animation-fill-mode: both;
  animation-timing-function: ease;
}
.hidden {
  display: none;
}
@keyframes field-in {
  0% {
    opacity: 0;
    transform: translateY(8px) scale(0.95);
  }
  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}
@keyframes form-in {
  0% {
    opacity: 0;
    transform: scale(0.98);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}