#ninestarki-cycles .panel-default {
  margin-top: 0;
}
.bookmark {
  position: relative;
  top: -180px;
}
.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0rem;
  padding: 7px;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-size: 0.9rem;
}
.calendar-header {
  text-align: center;
  font-weight: 600;
  color: #666;
}
.calendar-day {
  outline: 1px solid #e0e0e0;
  padding: 0;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: background-color 0.2s;
  cursor: pointer;
}
.calendar-day:hover {
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  transform: scale(1.05);
  transform: translateY(-2px);
  position: relative;
  z-index: 3 !important;
}
.calendar-day .date-label {
  width: 100%;
  font-size: 0.81rem;
  color: #999;
  font-weight: 500;
  text-align: center !important;
}
.calendar-day .custom-content {
  margin-top: 0.25rem;
  width: 100%;
  color: #444;
}
.calendar-day img {
  max-width: 72px;
  padding-left: 2px;
}
.calendar-day.selected {
  background-color: #337ab7;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.5);
  transform: scale(1.05) !important;
  transform: translateY(-1px);
  position: relative;
  z-index: 3 !important;
  border-radius: 0px;
}
.calendar-day.selected div {
  color: #ffffff;
}
.empty-cell {
  visibility: hidden;
}
.form-options input {
  display: inline-block;
}
.form-options label {
  vertical-align: top;
}
.form-options .hint {
  font-size: 0.81em;
  color: #999;
  margin: 0;
  margin-top: -5px;
  margin-bottom: 7px;
}
.global-planner-container {
  height: 683px !important;
  max-height: 683px;
  overflow-y: scroll;
}
.global-planner-container .year-planner {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  padding: 0;
}
.global-planner-container .year-planner .year-block {
  border: 1px solid #ddd;
  border-radius: 1rem;
  border-bottom: none;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s;
  background-color: #f9f9f9;
  cursor: pointer !important;
}
.global-planner-container .year-planner .year-block.active {
  background-color: #337ab7;
}
.global-planner-container .year-planner .year-block.active .year-label,
.global-planner-container .year-planner .year-block.active .year-detail,
.global-planner-container .year-planner .year-block.active .year-number,
.global-planner-container .year-planner .year-block.active .year-dates,
.global-planner-container .year-planner .year-block.active h4 {
  color: #ffffff !important;
}
.global-planner-container .year-planner .year-block:hover {
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
  background-color: #e6e6e6;
}
.global-planner-container .year-planner .year-block:hover.active {
  background-color: #337ab7;
}
.global-planner-container .year-planner .year-block .year-summary-row {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #e6e6e6;
}
.global-planner-container .year-planner .year-block .year-summary-row .year-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 90px;
}
.global-planner-container .year-planner .year-block .year-summary-row .year-label .year-number {
  font-size: 1.75rem;
  font-weight: 700;
  color: #337ab7;
  line-height: 1.2;
  margin-right: 11px;
}
.global-planner-container .year-planner .year-block .year-summary-row .year-label .year-dates {
  font-size: 0.9rem;
  color: #888888;
  margin-top: 0.25rem;
}
.global-planner-container .year-planner .year-block .year-summary-row .year-detail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 90px;
}
.global-planner-container .year-planner .year-block .year-summary-row .year-detail.narrow {
  flex: 0 0 150px;
  color: #666;
  font-weight: 500;
}
.global-planner-container .year-planner .year-block .year-summary-row .year-detail.narrow img {
  height: 100%;
  object-fit: cover;
  border-radius: 0.25rem;
  max-width: 90px;
}
.global-planner-container .year-planner .year-block .year-summary-row .year-detail.wide {
  flex: 1;
  color: #444;
  font-size: 0.9rem;
}
.global-planner-container .year-planner .year-block .month-row {
  padding: 0;
  border: none;
  background-color: #ffffff;
}
.global-planner-container .year-planner .year-block .month-row .month-container .month-block {
  outline: 1px solid #eee;
  padding: 0.5rem;
  text-align: center;
  transition: background-color 0.2s, transform 0.2s;
  cursor: pointer;
  background-color: #fdfdfd;
  width: 100%;
}
.global-planner-container .year-planner .year-block .month-row .month-container .month-block:hover {
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  transform: scale(1.05);
  transform: translateY(-2px);
  position: relative;
  z-index: 3 !important;
}
.global-planner-container .year-planner .year-block .month-row .month-container .month-block.active {
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
  background-color: #337ab7;
  transform: scale(1.05);
  transform: translateY(-1x);
  position: relative;
  z-index: 2 !important;
  border-radius: 7px;
}
.global-planner-container .year-planner .year-block .month-row .month-container .month-block.active .month-name,
.global-planner-container .year-planner .year-block .month-row .month-container .month-block.active .month-dates {
  color: #ffffff !important;
}
.global-planner-container .year-planner .year-block .month-row .month-container .month-block .month-name {
  font-weight: bold;
  font-size: 0.9rem;
  margin-bottom: 0.25rem;
}
.global-planner-container .year-planner .year-block .month-row .month-container .month-block .month-dates {
  font-size: 0.75rem;
  color: #777;
  margin-bottom: 0.5rem;
}
.global-planner-container .year-planner .year-block .month-row .month-container .month-block img {
  height: 100%;
  object-fit: cover;
  border-radius: 0.25rem;
}