:root {
  --primary-blue: #337ab7;
  --vibrant-green: #22BB44;
  --vibrant-green-10: #36da5a;
  --vibrant-green-30: rgba(34, 187, 68, 0.3);
  --vibrant-green-40: rgba(34, 187, 68, 0.4);
  --vibrant-red: #f44336;
  --vibrant-orange: #FF9800;
  --error-red: #cc0000;
  --snow-white: #ffffff;
  --charcoal-black: #0f1215;
  --border-grey: #dddddd;
  --light-grey: #888888;
  --background-color: #ffffff;
  --background-color-hover: #f2f2f2;
  --surface-color: #eeeeee;
  --text-color: #444444;
  --hover-text-color: #515151;
  --border-color: #dddddd;
  --well-color: linear-gradient(to bottom, #f9f9f9 0, #fdfdfd 100%);
  --panel-header-top: #f7fbff;
  --panel-header-bottom: #f0f8ff;
  --panel-header-text-color: #444444;
  --title-color: #0a4070;
  --subtitle-color: #337ab7;
  --page-background: #ffffff;
  --page-title-color: #331a00;
  --pills-tab-text-color: #0a4070;
  --pills-tab-hover: #ffffff;
  --pills-tab-active: linear-gradient(to bottom, #ffffff 0, #f9f9f9 100%);
  --pills-tab-active-hover: #ffffff;
  --pills-tab-background: transparent;
  --table-background-color: #f0f8ff;
  --table-background: linear-gradient(to bottom, #f7fbff 0%, #f0f8ff 100%);
  --table-border-color: transparent;
  --nav-pills-button-background: #d9d9d9;
  --readmore-overlay-background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 22%, #ffffff 81%);
  --ninestar-summary-container-hover: #ffffff;
  --body-background: #ffffff;
  --page-overlay-color: rgba(0, 0, 0, 0.3);
  --page-fadein-color: #ffffff;
}
.dark-mode {
  --primary-blue: #63a0d4;
  --vibrant-green: #36da5a;
  --vibrant-green-10: #61e27e;
  --vibrant-green-30: rgba(34, 187, 68, 0.3);
  --vibrant-green-40: rgba(34, 187, 68, 0.4);
  --vibrant-red: #f8877f;
  --vibrant-orange: #ffb74d;
  --error-red: #ff1a1a;
  --snow-white: #ffffff;
  --charcoal-black: #2f3842;
  --border-grey: #ffffff;
  --light-grey: #aeaeae;
  --background-color: #0f1215;
  --background-color-hover: #2f3842;
  --surface-color: #444444;
  --text-color: #f9f9f9;
  --hover-text-color: #ffffff;
  --border-color: #ffffff;
  --well-color: #091a22;
  --panel-header-top: #246587;
  --panel-header-bottom: #0f2c3a;
  --panel-header-text-color: #f9f9f9;
  --title-color: #e7e7e7;
  --subtitle-color: #f9f9f9;
  --page-background: rgba(20, 56, 74, 0.72);
  --page-title-color: #f9f9f9;
  --pills-tab-text-color: #f9f9f9;
  --pills-tab-hover: linear-gradient(to bottom, #1e5875 0, rgba(20, 56, 74, 0.11) 100%);
  --pills-tab-active: linear-gradient(to bottom, #276e93 0, rgba(20, 56, 74, 0.11) 100%);
  --pills-tab-active-hover: #47a0ce;
  --pills-tab-background: rgba(20, 56, 74, 0.11);
  --table-background-color: rgba(20, 56, 74, 0.72);
  --table-background: linear-gradient(to bottom, rgba(20, 56, 74, 0.33) 0%, rgba(20, 56, 74, 0.11) 100%);
  --table-border-color: #f9f9f9;
  --nav-pills-button-background: #1e5875;
  --readmore-overlay-background: linear-gradient(to bottom, rgba(20, 56, 74, 0) 22%, #14384a 81%);
  --ninestar-summary-container-hover: #14384a;
  --body-background: #14384a;
  --page-overlay-color: rgba(0, 0, 0, 0.3);
  --page-fadein-color: #ffffff;
}
#ninestarki-cycles .panel-default {
  margin-top: 0;
}
.bookmark {
  position: relative;
  top: -180px;
}
.directions-more-info {
  position: relative;
}
.directions-more-info .status-circle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  aspect-ratio: 1;
  /* makes it a square */
  border-radius: 50%;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  box-sizing: border-box;
}
.directions-more-info .directions-summary {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  aspect-ratio: 1;
  /* makes it a square */
  border-radius: 50%;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  box-sizing: border-box;
}
.directions-more-info .purple-warning {
  background-color: #800080;
  color: white;
}
.directions-more-info .red-warning {
  background-color: #cc0000;
  color: white;
}
.directions-more-info .red {
  background-color: #ff0000;
  color: white;
}
.directions-more-info .light-red {
  background-color: #ff6666;
  color: black;
}
.directions-more-info .orange {
  background-color: #ffa500;
  color: black;
}
.directions-more-info .yellow {
  background-color: #ffff00;
  color: black;
}
.directions-more-info .light-yellow {
  background-color: #ffffcc;
  color: black;
}
.directions-more-info .green {
  background-color: #90ee90;
  color: black;
}
/*Daily Calendar*/
.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0rem;
  padding: 7px;
  background-color: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-size: 0.9rem;
}
.calendar-grid .calendar-header {
  text-align: center;
  font-weight: 600;
  color: #666;
  padding: 7px;
  margin-bottom: 7px;
}
.calendar-grid .calendar-day {
  outline: 1px solid #e0e0e0;
  padding: 3px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: background-color 0.2s;
  cursor: pointer;
}
.calendar-grid .calendar-day:hover {
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  transform: scale(1.05);
  transform: translateY(-2px);
  position: relative;
  z-index: 1 !important;
}
.calendar-grid .calendar-day .date-label {
  width: 100%;
  font-size: 0.81rem;
  color: #999;
  font-weight: 500;
  text-align: center !important;
}
.calendar-grid .calendar-day .custom-content {
  width: 100%;
  color: #444;
}
.calendar-grid .calendar-day .custom-content .double-energy-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.calendar-grid .calendar-day .custom-content .double-energy-container img {
  width: 48%;
  height: auto;
}
.calendar-grid .calendar-day img {
  max-width: 63px;
  padding: 3px;
  padding-left: 3px;
}
.calendar-grid .calendar-day.current {
  background-color: #e6e6e6;
  outline: 2px solid var(--primary-blue);
  border: none !important;
  border-radius: 3px;
  position: relative;
  z-index: 2 !important;
}
.calendar-grid .calendar-day.active {
  background-color: var(--primary-blue);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 3 !important;
  border-radius: 3px;
}
.calendar-grid .calendar-day.active div {
  color: var(--snow-white);
}
.calendar-grid .empty-cell {
  visibility: hidden;
}
.form-options input {
  display: inline-block;
}
.form-options label {
  vertical-align: top;
}
.form-options .hint {
  font-size: 0.81em;
  color: #999999;
  margin: 0;
  margin-top: -5px;
  margin-bottom: 7px;
}
.global-planner-container .planner-instructions h5 {
  font-size: 14px !important;
  font-weight: normal !important;
  margin-bottom: 20px;
}
.global-planner-container #global-planner-details .panel-body {
  max-height: 371px;
  overflow-y: auto;
}
.global-planner-container .form-group {
  margin-bottom: 0;
  padding-bottom: 0;
}
.global-planner-container .age-details {
  margin-bottom: 5px !important;
  font-weight: normal !important;
}
.global-planner-container .parent-planner {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0;
}
.global-planner-container .parent-planner .parent-block {
  border: 1px solid #ddd;
  border-radius: 1rem;
  border-bottom: none;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s;
  background-color: #f9f9f9;
  cursor: pointer !important;
}
.global-planner-container .parent-planner .parent-block.active {
  background-color: var(--primary-blue);
}
.global-planner-container .parent-planner .parent-block.active .parent-label,
.global-planner-container .parent-planner .parent-block.active .parent-detail,
.global-planner-container .parent-planner .parent-block.active .parent-title,
.global-planner-container .parent-planner .parent-block.active .parent-dates,
.global-planner-container .parent-planner .parent-block.active h4 {
  color: var(--snow-white) !important;
}
.global-planner-container .parent-planner .parent-block:hover {
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
  background-color: #e6e6e6;
}
.global-planner-container .parent-planner .parent-block:hover.active {
  background-color: var(--primary-blue);
}
.global-planner-container .parent-planner .parent-block .parent-summary-row {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #e6e6e6;
}
.global-planner-container .parent-planner .parent-block .parent-summary-row .parent-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 90px;
}
.global-planner-container .parent-planner .parent-block .parent-summary-row .parent-label .parent-title {
  font-size: 1.75rem;
  font-weight: 700;
  color: var(--primary-blue);
  line-height: 1.2;
  margin-right: 11px;
}
.global-planner-container .parent-planner .parent-block .parent-summary-row .parent-label .parent-dates {
  font-size: 0.9rem;
  color: var(--light-grey);
  margin-top: 0.25rem;
  font-weight: bold;
}
.global-planner-container .parent-planner .parent-block .parent-summary-row .parent-label .parent-age {
  color: var(--light-grey);
}
.global-planner-container .parent-planner .parent-block .parent-summary-row .parent-detail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 50px;
}
.global-planner-container .parent-planner .parent-block .parent-summary-row .parent-detail.extra-narrow {
  flex: 0 0 72px;
  margin-right: 22px;
}
.global-planner-container .parent-planner .parent-block .parent-summary-row .parent-detail.extra-narrow img {
  height: 100%;
  object-fit: cover;
  border-radius: 0.25rem;
  max-width: 90px;
}
.global-planner-container .parent-planner .parent-block .parent-summary-row .parent-detail.narrow {
  flex: 0 0 150px;
  color: #666666;
  font-weight: 500;
}
.global-planner-container .parent-planner .parent-block .parent-summary-row .parent-detail.narrow img {
  height: 100%;
  object-fit: cover;
  border-radius: 0.25rem;
  max-width: 90px;
}
.global-planner-container .parent-planner .parent-block .parent-summary-row .parent-detail.wide {
  flex: 1;
  color: #444444;
  font-size: 0.9rem;
  font-weight: bold;
}
.global-planner-container .parent-planner .parent-block .parent-summary-row .parent-detail.wide.level-up {
  font-size: 22px;
  align-items: flex-end;
}
.global-planner-container .parent-planner .parent-block .parent-summary-row .parent-detail.wide.level-up div {
  padding: 5px;
  display: flex;
  justify-content: space-between;
}
.global-planner-container .parent-planner .parent-block .parent-summary-row .parent-detail.wide.level-up div a {
  padding: 5px;
  margin-left: 7px;
  outline: 1px solid var(--border-grey);
  border-radius: 100px;
  width: 33px;
  height: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: #f0f0f0;
}
.global-planner-container .parent-planner .parent-block .parent-summary-row .parent-detail.wide.level-up div a:hover {
  background: var(--primary-blue);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  transform: scale(1.3);
  transform: translateY(-1px);
}
.global-planner-container .parent-planner .parent-block .parent-summary-row .parent-detail.wide.level-up div a:hover i {
  color: white;
}
.global-planner-container .parent-planner .parent-block .parent-summary-row .parent-detail.wide.level-up div a i {
  font-size: 22px;
  color: var(--primary-blue);
  transition: box-shadow 0.3s;
  cursor: pointer !important;
}
.global-planner-container .parent-planner .parent-block .child-row {
  padding: 0;
  border: none;
  background-color: var(--snow-white);
}
.global-planner-container .parent-planner .parent-block .child-row.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}
.global-planner-container .parent-planner .parent-block .child-row .child-container .child-block {
  outline: 1px solid #eee;
  padding: 0.5rem;
  text-align: center;
  transition: background-color 0.2s, transform 0.2s;
  cursor: pointer;
  background-color: var(--snow-white);
  width: 100%;
}
.global-planner-container .parent-planner .parent-block .child-row .child-container .child-block:hover {
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  border-radius: 3px;
  transform: scale(1.07);
  transform: translateY(-2px);
  position: relative;
  z-index: 1 !important;
}
.global-planner-container .parent-planner .parent-block .child-row .child-container .child-block.current {
  background-color: #e6e6e6;
  outline: 2px solid var(--primary-blue);
  border-radius: 7px;
  border: none !important;
  position: relative;
  z-index: 2 !important;
  transform: translateY(-2px);
}
.global-planner-container .parent-planner .parent-block .child-row .child-container .child-block.active {
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
  background-color: var(--primary-blue) !important;
  transform: scale(1.05);
  transform: translateY(-1x);
  position: relative;
  z-index: 2 !important;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.global-planner-container .parent-planner .parent-block .child-row .child-container .child-block.active .child-name,
.global-planner-container .parent-planner .parent-block .child-row .child-container .child-block.active .child-dates {
  color: var(--snow-white) !important;
}
.global-planner-container .parent-planner .parent-block .child-row .child-container .child-block .child-name {
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 0;
  color: var(--primary-blue);
  margin-bottom: -2px;
}
.global-planner-container .parent-planner .parent-block .child-row .child-container .child-block .child-dates {
  font-size: 0.75rem;
  color: #777;
  margin-bottom: 0;
  font-weight: bold;
}
.global-planner-container .parent-planner .parent-block .child-row .child-container .child-block img {
  height: 100%;
  object-fit: cover;
  border-radius: 0.25rem;
}
/* Hourly Planner */
#hourly-slots {
  width: 100%;
  height: 333px;
  outline: 1px solid #ddd;
  background-color: #f9f9f9;
  overflow-y: auto;
}
#hourly-slots .time-slot {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;
  background-color: var(--snow-white);
  font-size: 14px;
  outline: 1px solid #ddd;
}
#hourly-slots .time-slot .time-display {
  width: 50%;
}
#hourly-slots .time-slot .img-container {
  display: block;
  margin: 0;
  flex-shrink: 0;
}
#hourly-slots .time-slot .img-container img {
  max-width: 25px;
  padding: 0;
  height: auto;
}
#hourly-slots .time-slot .slot-item {
  padding-left: 12px;
}
#hourly-slots .time-slot:hover {
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}
#hourly-slots .time-slot.current {
  background-color: #e6e6e6;
  border: 2px solid var(--primary-blue);
  border-top: 3px solid var(--primary-blue);
  border-bottom: 3px solid var(--primary-blue);
  border-radius: 3px;
}
#hourly-slots .time-slot.active {
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
  background-color: var(--primary-blue) !important;
  color: #f9f9f9;
  font-weight: bold;
}
#directions-instructions {
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 495px) {
  .energy-cycle-title {
    display: none !important;
  }
  .cycle-title {
    display: none !important;
  }
  .wide.level-up {
    max-width: 100% !important;
  }
  .parent-detail.narrow {
    margin: 0 !important;
    max-width: 33px !important;
  }
  .parent-detail.narrow img {
    max-width: 33px !important;
    height: auto;
  }
}
@media (max-width: 767px) {
  .cycle-title {
    display: none !important;
  }
  .directions-more-info .status-circle {
    font-size: 1em;
  }
  .directions-more-info .directions-summary {
    font-size: 1em;
  }
  /*Daily Calendar*/
  .calendar-grid {
    padding: 7px;
    font-size: 0.9rem;
  }
  .calendar-grid .calendar-header {
    padding: 7px;
    margin-bottom: 7px;
  }
  .calendar-grid .calendar-day {
    padding: 3px;
  }
  .calendar-grid .calendar-day .date-label {
    font-size: 0.72rem;
  }
  .calendar-grid .calendar-day .custom-content .double-energy-container img {
    width: 48%;
    height: auto;
  }
  .calendar-grid .calendar-day img {
    max-width: 36px;
    padding: 3px;
    padding-left: 3px;
  }
  .form-options .hint {
    font-size: 0.81em;
    margin-top: -5px;
    margin-bottom: 7px;
  }
  .global-planner-container .planner-instructions h5 {
    font-size: 14px !important;
    margin-bottom: 20px;
  }
  .global-planner-container #global-planner-details .panel-body {
    max-height: 371px;
    overflow-y: auto;
  }
  .global-planner-container .parent-planner {
    gap: 1rem;
    padding: 0;
  }
  .global-planner-container .parent-planner .parent-block .parent-summary-row {
    padding: 0.8rem;
    flex-direction: row;
  }
  .global-planner-container .parent-planner .parent-block .parent-summary-row .parent-label {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 145px !important;
  }
  .global-planner-container .parent-planner .parent-block .parent-summary-row .parent-label .parent-title {
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.2;
    margin-right: 11px;
  }
  .global-planner-container .parent-planner .parent-block .parent-summary-row .parent-label .parent-dates {
    font-size: 0.9rem;
    margin-top: 0.25rem;
  }
  .global-planner-container .parent-planner .parent-block .parent-summary-row .parent-detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .global-planner-container .parent-planner .parent-block .parent-summary-row .parent-detail.extra-narrow img {
    max-width: 33px;
    height: auto;
  }
  .global-planner-container .parent-planner .parent-block .parent-summary-row .parent-detail.narrow {
    margin: 7px;
    max-width: 33px !important;
  }
  .global-planner-container .parent-planner .parent-block .parent-summary-row .parent-detail.narrow img {
    max-width: 45px;
    height: auto;
  }
  .global-planner-container .parent-planner .parent-block .parent-summary-row .parent-detail.wide {
    font-size: 0.9rem;
    flex: 1 1 60% !important;
  }
  .global-planner-container .parent-planner .parent-block .parent-summary-row .parent-detail.wide.level-up {
    font-size: 15px;
    max-width: 122px;
  }
  .global-planner-container .parent-planner .parent-block .parent-summary-row .parent-detail.wide.level-up div {
    padding: 3px;
    align-content: flex-end;
  }
  .global-planner-container .parent-planner .parent-block .parent-summary-row .parent-detail.wide.level-up div a {
    padding: 3px;
    margin-left: 3px;
    width: 27px;
    height: 27px;
  }
  .global-planner-container .parent-planner .parent-block .parent-summary-row .parent-detail.wide.level-up div a i {
    font-size: 18px;
  }
  .global-planner-container .parent-planner .parent-block .child-row .child-container .child-block {
    padding: 0.5rem;
  }
  .global-planner-container .parent-planner .parent-block .child-row .child-container .child-block .child-name {
    font-size: 1.1rem;
    margin-bottom: 0.25rem;
  }
  .global-planner-container .parent-planner .parent-block .child-row .child-container .child-block .child-dates {
    font-size: 0.75rem;
    margin-bottom: 0.5rem;
  }
}