@using K9.WebApplication.Helpers
@using K9.WebApplication.Models
@using K9.WebApplication.Options
@model NineStarKiModel

@if (Model != null)
{
    <div class="container main-content clear-both">
        @Html.Panel(Dictionary.LunarCycle, $"{Html.Partial("~/Views/Astrology/_MoonPhaseLarge.cshtml", Model.MoonPhase).ToString()}{Model.MoonPhase.LunarDayDescription} {Model.MoonPhase.YinYangComfortDescription}", "", "", EPanelImageSize.Default, EPanelImageLayout.Contain)
    </div>
}