@using K9.WebApplication.Enums
@using K9.WebApplication.Helpers
@model K9.WebApplication.Models.NineStarKiModel

<div class="row">
    <div class="text-center">
        @if (Model.SelectedDate != DateTime.Today)
        {
            @Html.Partial("_SelectedDateAndPeriodTitle")
        }
    </div>
    <div class="col-sm-4 col-sm-offset-2 margin-bottom-0">
        @Html.Partial("_CycleTitle", Model.YearlyCycleEnergy)
    </div>
    <div class="col-md-4 col-sm-4 margin-bottom-0">
        @Html.Partial("_CycleTitle", Model.MonthlyCycleEnergy)
    </div>
</div>