@using K9.WebApplication.Helpers

@{
    ViewBag.Title = Dictionary.PredictionsTitle;
    ViewBag.SubTitle = Dictionary.PredictionsTitle;
    ViewBag.Keywords = Dictionary.PredictionsKeywords;
    ViewBag.MetaDescription = Dictionary.PredictionsMetaDescription;

    ViewBag.Background = ViewBagHelper.EViewBackground.Jarallax;
    Layout = "../Shared/_LayoutForm.cshtml";
}

@Html.Partial("_BetaPopup")

<div class="container main-content">
    <article>
        @Html.Panel(Dictionary.YearlyCycles, Dictionary.year_description)

        @Html.Panel(Dictionary.MonthlyCycles, Dictionary.month_description)
    </article>
</div>