@media (max-width:767px) {
    .mobile-only {
        display: block !important;
    }

    .device-only {
        display: block !important;
    }

    .desktop-only {
        display: none;
    }

    h1 {
        strong {
            font-weight: 300 !important;
        }
    }

    h4, artcile h4 {
        font-size: 1.3em !important;
    }

    h3, artcile h3, .ninestar-summary-container h3 {
        font-size: 1.1em !important;
    }

    .padding-left-20-desktop {
        padding-left: 0 !important;
    }

    .panel-margin-top-20 {
        margin-top: 20px;
    }

    form .well div .col-sm-6:first-of-type, .well form div .col-sm-6:first-of-type {
        padding: 0 !important;
    }

    form .well div .col-sm-6:last-of-type, .well form div .col-sm-6:last-of-type {
        padding: 0;
    }

    .well {
        margin: 0 !important;
        padding: 11px;
    }

    form .well {
        margin-bottom: 20px !important;
    }

    .container, .container-fluid {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }

    div.inline-form, form {
        width: 100% !important;
    }

    .panel-body .table-responsive {
        width: auto !important;
    }

    .panel-body .nav-pills > li + li {
        margin-left: 0 !important;
    }

    .page {
        background: none;
        margin: 0;
        padding: 0;

        .page-header {
            padding-bottom: 0;
            padding-top: 33px;

            h1, h2 {
                font-size: 28px !important;
            }

            h1, h2, h4 {
                width: 100%;
            }
        }

        h1 {
            text-align: center;
            color: white;
        }

        .panel-heading {
            padding: 11px !important;

            h4 {
                text-align: center;
            }
        }

        .panel-body {
            padding: 11px !important;

            h4 {
                padding-left: 0 !important;
                padding-right: 0 !important;
            }

            .table-responsive {
                margin-left: 0;
                margin-right: 0;
            }
        }
    }

    .form-option.hint, .hint {
        font-size: 0.8em !important;
    }
}

@media (min-width: 766px) {
    .device-only {
        display: none;
    }
}
