@model K9.WebApplication.Models.NineStarKiModel

@using (Html.BeginForm("Compatibility", "Relationships"))
{
    using (Html.BeginBootstrapForm())
    {
        @Html.BootstrapEditorFor(model => model.PersonModel.DateOfBirth)
        <div data-toggle="tooltip" title="@Dictionary.GenderSelectionTooltip">
            @Html.BootstrapEditorFor(model => model.PersonModel.Gender)
        </div>

        <hr />
        @Html.BootstrapButton(Dictionary.Calculate)
    }
}