@using K9.SharedLibrary.Helpers
@using K9.WebApplication.Helpers

@{
    ViewBag.Title = Dictionary.RelationshipsTitle;
    ViewBag.SubTitle = Dictionary.RelationshipsTitle;
    ViewBag.Keywords = Dictionary.RelationshipsMetaDescription;
    ViewBag.MetaDescription = Dictionary.RelationshipsMetaDescription;

    ViewBag.Background = ViewBagHelper.EViewBackground.Jarallax;
    Layout = "../Shared/_LayoutForm.cshtml";
}

@Html.Partial("_BetaPopup")

<div class="container main-content">
    <article>
        @Html.Panel("9 Star Ki and Sexuality", TemplateProcessor.PopulateTemplate(Dictionary.sexuality, new
       {
           AboutTitle = Dictionary.AboutNineStarKi,
           AboutLink = Url.ActionWithBookmark("About", "Home", "yinyang"),
           ChartLink = Url.ActionWithBookmark("About", "Home", "chart"),
       }), "sexuality")

        @*@Html.Panel("Cycles of Light and Dark", K9.Globalisation.Dictionary.cycles, "cycles", "Images/about/light-dark.jpg", EPanelImageSize.Default, EPanelImageLayout.Contain)

            @Html.Panel("Yin and Yang", K9.Globalisation.Dictionary.yinyang, "yinyang", "Images/ninestar/yinyang/yinyang-large.png", EPanelImageSize.Default, EPanelImageLayout.Contain)*@
    </article>
</div>

