ol.breadcrumb
{
	background: #555555;
	display: inline-block;
	margin-top: 7px;
	font-size: 18px;
}

ol.breadcrumb li, ol.breadcrumb li a
{
	color: white;
}

ol.breadcrumb li.active {
	font-weight: bold;
	color: white;
}