@model K9.DataAccessLayer.LocalPasswordModel

<section class="formAlignLeft">
@if (ViewBag.HasLocalPassword)
{
    @Html.Partial("_ChangePasswordPartial")
}
else
{ 
    @Html.Partial("_SetPasswordPartial")
}
</section>