@using K9.Base.WebApplication.Helpers
@model K9.WebApplication.Models.AccountActivationModel

@{
    ViewBag.Title = K9.Base.Globalisation.Dictionary.Registration;
    Layout = "../Shared/_LayoutForm.cshtml";

    string additionalError = TempData["AdditionalError"]?.ToString();
    var confirmationText = Model.IsCodeResent ? Dictionary.WeveResentCodeToEmail : Dictionary.WeveSentCodeToEmail;
}

<div class="margin-bottom-10">
    @Html.Success(K9.Base.Globalisation.Dictionary.AccountCreatedSuccessfully, confirmationText)

    @if (!string.IsNullOrEmpty(additionalError))
    {
        <hr />
        @Html.Alert(EAlertType.Warning, additionalError)
    }
    else
    {
        @Html.Partial("_AccountVerification")
    }
</div>
