@{
    ViewBag.Title = Dictionary.AccountActivationTitle;
}

@Html.Failure(Dictionary.AccountActivationFailed)
<div class="text-center">
	@Html.ActionLink(Dictionary.PleaseContactSupport, "ContactUs", "Support")
</div>