@{
    ViewBag.Title = Dictionary.LogIn;
}

<div class="form floating" id="loginForms">
	<section id="loginForm">
		@Html.Partial("_loginForm")
	</section>

	<section id="socialLoginForm">
		@Html.Action("ExternalLoginsList", new { ViewBag.ReturnUrl })
	</section>
</div>

