@{
    ViewBag.Title = Dictionary.LogIn;
	Layout = "~/Views/Shared/_LayoutFormSmall.cshtml";
}

<div id="loginForms">
	<section id="loginForm">
		@Html.Partial("_loginForm")
	</section>

	<section id="socialLoginForm">
		@Html.Action("ExternalLoginsList", new { ViewBag.ReturnUrl })
	</section>
</div>