@using K9.WebApplication.Config
@{
	ViewBag.Title = Dictionary.LogIn;
	Layout = "~/Views/Shared/_LayoutFormSmall.cshtml";
}
<div id="loginForms">
	@Html.Partial("_loginForm")

	@if (AppConfig.EnableExternalLogin)
	{
		@Html.Action("ExternalLoginsList", new { ViewBag.ReturnUrl })
	}
</div>
