@{
	ViewBag.Title = @Dictionary.CreateNewAccount;
}

<h1>@ViewBag.Title</h1>

<div class="form" id="formContainer">
	<section id="registrationForm">
		@Html.Partial("_RegistrationForm")
	</section>
</div>
