@model UserAccount.ResetPasswordModel
@{
	ViewBag.Title = Dictionary.PasswordResetTitle;
	Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
@Html.Failure(Dictionary.PasswordResetFailError)
<div class="text-center">
	@Html.ActionLink(Dictionary.PleaseContactSupport, "ContactUs", "Support")
</div>