@{
	Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}
@section layout
{
	<div class="mainContent">
		<div class="backdrop">
			<div class="page shadow alphaBackground roundCorners-not-top">
				<div class="page-header">
					<h1>@ViewBag.Title</h1>
				</div>
				@RenderBody()
			</div>
		</div>
	</div>
}