@{
	ViewBag.Title = Dictionary.Oops;
	Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
@Html.Alert(EAlertType.Fail, Dictionary.FriendlyErrorMessage)
<div class="text-center margin-bottom-20">
	@Html.ActionLink(Dictionary.ContactSupport, "ContactUs", "Support") | @Html.ActionLink(Dictionary.GoBackHome, "Index", "NineStarKi")
</div>