@using K9.Base.WebApplication.Helpers
@using K9.WebApplication.Config
@model string

<div class="text-center">
    <img class="margin-bottom-20" loading="lazy" alt="locked" src="@DefaultValuesConfiguration.Instance.BaseImagesPath/ui/locked.png" />

    <h2 class="margin-top-0 margin-bottom-0 alert-message">
        <strong>@MvcHtmlString.Create(Dictionary.LogIntoYourAccountToView)</strong>
    </h2>
</div>

<br />

@Html.BootstrapActionLinkButton(
    Dictionary.SignIn,
    "Login", "Account", new { retrieveLast = Model }, "fa-sign-in",
    EButtonClass.Large)