@using K9.SharedLibrary.Helpers.Html
@using K9.WebApplication.Options
@model K9.WebApplication.ViewModels.BlogViewModel
@{
    ViewBag.Title = Dictionary.LatestArticles;
    ViewBag.SubTitle = Dictionary.LatestArticles;
    Layout = "../Shared/_LayoutFormMedium.cshtml";
}

@Html.Partial("_BetaPopup")

<div class="container main-content">
    <article class="margin-bottom-0">
        <div class="well padding-left-0 padding-right-0 margin-bottom-0">
            <div class="row">
                <div class="col-sm-6">
                    @Html.Partial("../Shared/Controls/_SearchBox", new SearchBoxOptions
                    {
                        CssSelector = ""
                    })
                </div>
                <div class="col-sm-6 text-right">
                    <div id="tagFilters" class="btn-group">
                        @foreach (var tag in Model.Tags)
                        {
                            <button class="btn btn-default btn-sm" onclick="filterByTag('@tag.Name')">#@tag.Name</button>
                        }
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <hr />
                </div>
            </div>

            <div id="blogGrid" class="row">
                @foreach (var article in Model.Articles)
                {
                    @Html.Partial("_BlogCard", article)
                }
            </div>
        </div>
    </article>
</div>

<script>
    $(function () {
        function filterByTag(tag) {
            $('#Search').val(tag);
            filterPosts();
        }

        $('#Search').on('input', filterPosts);

        function filterPosts() {
            var input = $('#Search').val().toLowerCase();
            $('#blogGrid .blog-card').each(function () {
                var $card = $(this);
                var text = $card.text().toLowerCase();
                $card.toggle(text.indexOf(input) !== -1);
            });
        }

        window.filterByTag = filterByTag;
    });
</script>
