@using K9.WebApplication.Enums
@using K9.WebApplication.Helpers
@using K9.WebApplication.ViewModels
@model K9.WebApplication.Models.NineStarKiModel

<div class="text-center">
    <h5>@Dictionary.ClickOnTheNumbersBelowForMoreDetails</h5>
</div>

<div class="row margin-0 margin-bottom-20">
    <div class="col-sm-4 col-sm-offset-4 col-xs-12 col-xs-offset-0 padding-0">
        @Html.BootstrapEditorFor(e => e.EnergyDisplay, new EditorOptions
        {
            Label = ""
        })
    </div>
</div>

<div class="row">
    <div class="col-md-12 margin-top-15 padding-left-0 padding-right-0">
        @Html.Panel(Dictionary.CoreEnergies, Html.Partial("_CoreEnergies").ToString())
    </div>
</div>
<div class="row">
    <div class="col-md-12 margin-top-15 padding-left-0 padding-right-0">
        @Html.Panel(Dictionary.ExtendedProfile, Html.Partial("_AdditionalEnergies").ToString())
    </div>
</div>