@using K9.WebApplication.Enums
@using K9.WebApplication.Helpers
@model K9.WebApplication.Models.NineStarKiModel

<div class="row">
    <div class="text-center">
        <h5>@Dictionary.ClickOnTheNumbersBelowForMoreDetails</h5>
    </div>
</div>
<div class="row">
    <div class="col-md-12 margin-top-15 padding-left-0 padding-right-0">

        @Html.Panel(Dictionary.CoreEnergies, Html.Partial("_CoreEnergies").ToString())
    </div>
</div>
