@using K9.WebApplication.Enums
@using K9.WebApplication.Helpers
@model K9.WebApplication.Models.NineStarKiModel

@{
    var childClass = Model.PersonModel.IsAdult() ? "" : "child-profile";
    var panelTitle = Model.IsCompatibility ? Model.PersonModel.Name : Dictionary.PersonalChartOverview;
}

<div id="energy-summary-container">
    @Html.Panel(panelTitle, Html.Partial("_PersonalChart").ToString())
</div>
