@using K9.WebApplication.Helpers
@using K9.WebApplication.Models
@using K9.WebApplication.Options
@model NineStarKiModel

@if (Model != null)
{
    <div class="container main-content clear-both">
        @Html.PanelWithSummary(Model.MainEnergy.EnergyCareerTitle, Model.Career, Model.MainEnergy.CareerSummary, "", "", EPanelImageSize.Default, EPanelImageLayout.Contain)

        @Html.Panel(Model.MainEnergy.EnergyOccupationsTitle, Model.MainEnergy.Occupations, "", "", EPanelImageSize.Default, EPanelImageLayout.Contain)
    </div>
}