@using K9.WebApplication.Enums
@using K9.WebApplication.Extensions
@using K9.WebApplication.Helpers
@model K9.WebApplication.Models.NineStarKiModel

@{
    var childClass = Model.PersonModel.IsAdult() ? "" : "child-profile";
    var panelTitle = Model.IsMyProfile ? Dictionary.MyPersonalProfile : Dictionary.PersonalChartOverview;

    var membership = this.GetActiveUserMembership();
    var isUnlimited = membership != null && membership.IsUnlimited() || Model.IsMyProfileOrComplementary || K9.WebApplication.Helpers.SessionHelper.CurrentUserIsAdmin();
}

<div class="energy-summary-container">
    @if (isUnlimited)
    {
        @Html.Panel(panelTitle, Html.Partial("../PersonalChart/_PersonalChartExtended").ToString())
    }
    else
    {
        @Html.Panel(panelTitle, Html.Partial("../PersonalChart/_PersonalChart").ToString())
    }
</div>
