@using K9.WebApplication.Config
@{
	ViewBag.Title = Dictionary.OurMission;
}

<div class="row text-center page-header">
	<h2><strong>@Dictionary.OurMission</strong></h2>
</div>

@Html.ImageSwitcher(new ImageSwitcherOptions("Images/home/slides")
{
	Interval = 10000
})

<article>
	@MvcHtmlString.Create(Dictionary.mission_statement_and_aims)
</article>