@using K9.WebApplication.Config
@{
	ViewBag.Title = Dictionary.Home;
}

<div class="banner-forest4">
	@Html.Partial("_Navbar")
</div>
<div class="team agileits main-section">
	<div class="team-agileinfo">
		<div class="container">  
			<div class="main-heading">
				<h3>@Dictionary.OurTeam</h3>
			</div>
			<div>
				<div class="col-md-3 col-xs-6 team-grids">
					<div class="team-agileimg">
						<img class="img-responsive" src="~/Images/team/yann.jpg" alt="">
						<div class="captn">
							<div class="captn-top">
								<h4 class="display-article" data-team-member="yann">Yann Guignon</h4>
								<p>Director and founder of Blessings Of The Forest</p>
							</div>
							<div class="social-w3lsicon agileinfo-social-grids">
								<ul>
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-rss"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-xs-6 team-grids">
					<div class="team-agileimg">
						<img class="img-responsive" src="~/Images/team/david.jpg" alt="">
						<div class="captn">
							<div class="captn-top">
								<h4 class="display-article" data-team-member="david">David Nassim</h4>
								<p>Co-director of Blessings Of The Forest and practitioner of Chinese medicine</p>
							</div>
							<div class="social-w3lsicon agileinfo-social-grids">
								<ul>
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-rss"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-xs-6 team-grids">
					<div class="team-agileimg">
						<img class="img-responsive" src="~/Images/team/laurent.jpg" alt="">
						<div class="captn">
							<div class="captn-top">
								<h4 class="display-article" data-team-member="laurent">Laurent Sazy</h4>
								<p>Photographer and French photo-journalist</p>
							</div>
							<div class="social-w3lsicon agileinfo-social-grids">
								<ul>
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-rss"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-xs-6 team-grids">
					<div class="team-agileimg">
						<img class="img-responsive" src="~/Images/team/simon.jpg" alt="">
						<div class="captn">
							<div class="captn-top">
								<h4 class="display-article" data-team-member="simon">Simon Glantz</h4>
								<p>Software developer, holistic nutritionist and health coach</p>
							</div>
							<div class="social-w3lsicon agileinfo-social-grids">
								<ul>
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-rss"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="container">
				<div class="sub-section display-none" id="yann">
					<article>
						<h5>Yann Guignon is the founder of “Blessings Of The Forest” and the main driver of our strategic direction, managing all our activities in Gabon.</h5>
						<p>
							He was initiated to the Gabonese traditions, first in 2006 by Master Atome Ribenga, and was trained to exercise the traditional function of ” Kambo ” (Temple Guardian) by Ribenga and also by Hugues Obiang Poitevin (Ebando NGOs) as well as with other initiatory masters of different branches of the Bwiti. Yann studied iboga intensively and worked with the pharmacist Professor Jean Noël Gassita, oldest living researcher on iboga in the world.
							Wild resources of iboga are becoming increasingly scarce due to global demand, Yann and Professor Gassita organized a meeting with the founding of the First Lady of Gabon, Sylvia Bongo Ondimba, to solicit her support for writing a national and international inventory about iboga. For six months between 2011 and 2012 Yann culminated the views of the representatives of the major branches of the Bwitist tradition, plus the data gathered during his 7 years of personal research and the 60 years of study by Professor Gassita. In July 2012, he submitted a 50 page report to the Gabonese autorities announcing the likelihood of the disappearance of iboga in the public domain by 2020 unless strong action is taken urgently to protect this precious resource.
							As a direct result of this report, iboga has become a major topic of study for the implementation of the Nagoya Protocol in Gabon (ratified by Gabon in 2012), providing an important international legal instrument for the protection of this sacred tree and traditional knowledge that surround it.
							Yann Guignon was recognized by the Ministry of Culture of the Republic of Gabon as a benefactor of the country’s cultural heritage and has been given the mandate to represent Gabon at the 4th International Conference on iboga(ine) organized by the “Global Ibogaine Therapist Alliance” in Durban (South Africa) in September 2014.
							Yann, married to his Gabonese Akele wife, spent a total of 9 years living in Gabon where he directed and participated in several documentaries for Gabonese television (including “Agora”, “La Tradition Bwitiste au Gabon” and “Ca s’explique”) these launched the public debate about the enthusiasm of the western world around the iboga.
							Alongside his sacerdotal commitment, Yann created a consulting company in intercultural mediation and sustainable development (Traits d’Union) operating for the profit of several international and national companies as well as Gabonese non profit structures such as “Ebando NGO” to restructure and develop its activities on the social reintegration of disadvantaged gabonese youth through making traditional jewelry and eco tourism.
							Finally, Yann has worked with the National Agency of National Parks in the fight against international trafficking of iboga which is closely linked to ivory trafficking.
						</p>
					</article>
				</div>
				<div class="sub-section display-none" id="david">
					<article>
						<h5>David Nassim, co-director of “Blessings Of The Forest” is a practitioner of Chinese medicine and internal martial arts. Since 1999 his studies include shiatsu, acupuncture, nutrition and herbal medicine, Qi Gong and Tai Chi Chuan.</h5>
						<p>
							He studied in several places around the world including the UK and Japan.
							David is trained in permaculture and is involved in a self-sufficient community project in Europe (Portugal).
							As part of his research in the field of traditional herbalism, he discovered the Gabonese traditions in 2014 and found a deep love for this cultural heritage including the awareness of how traditionnal bwitist culture and music heals the mind.
							His greatest desire is to help protect and enhance the Gabonese culture and the land that has opened the door to a new world of possibilities for him.
							David’s interest is to be a voice in the English-speaking environment to explain the vital importance of the study and the integration of traditional knowledge from the original peoples of the Gabonese forest in the global arena of Human Development.
						</p>
					</article>
				</div>
				<div class="sub-section display-none" id="laurent">
					<article>
						<h5>Laurent Sazy is a french photojournalist since 1991. He is covering news, wars( Balkans, Sarajevo and caucasus, Algeria, Libya (2011), also politics, economics and socials news and magazines features for photos agencies, magazines and newspapers/</h5>
						<p>
							Laurent was photo-correspondent for The Européan Newspaper in Paris.  He works with Sipa, Gamma, Maxppp, Deadline photo agency. In 2006, he joined Fedephoto which became in 2012, Divergence-images, a french  plateform for press photographers.
							Since 2000, Shamanism and psychedelics plants become an important part of  his work. Laurent saw the link between DNA, shamanism, sciences, religion, Art and nature.
							He started his new approach by going to Gabon to photography the animist Bwiti and  Iboga plant ceremony.
							He went also to Peru with French writer Vincent Ravalec and a gabonese nganga (shaman) to follow Ayahuasca rituals with the Sphipibo-conibo tribe and met Pablo Amaringo, famous ayahuasca shaman and painter.
							Bokayé, bwiti ceremony (2016) is his second book after Ngenza, cérémonie de la connaissance (2004) on Gabonese Bwiti and iboga ritual with a text from french writer Vincent Ravalec. Photographer Laurent Sazy has worked on this reportage during the last years  and was initiated to Bwiti rites to be able to photograph particular ceremonies.
							In 2016, as a photographer Laurent joined  Blessings of the forest to promote preservation and conservation of iboga trees
						</p>
					</article>
				</div>
				<div class="sub-section display-none" id="simon">
					<article>
						<h5>Simon Glantz is a practitoner of holistic nutrition, musician and software developer.</h5>
						<p>
							Simon suffered with severe neurological dysfunction from an early age and continued to struggle well into his adult life. Simon used the principles of person-centered nutrition and supplementation,
							as well as many other holistic and traditional healing modalities, to fully recover his mental and physical health and now teaches holistic nutrition, which is taylored to the individual's genotype, circumstances and lifestyle.
							Simon is an avid proponent of person-centered medicine and healing methods and, in particular, has a profound respect of and appreciation for the world's indigenous plant medicines, which he believes are to play are fundamental role in the
							healing of our planet.
							Simon is a classically trained musician and composer. He plays the flute, piano and saxophone. Simon speaks French, Spanish and Englsh.
						</p>
					</article>
				</div>
			</div>
		</div>
	</div>
</div>

@section scripts {
	<script language="javascript">
		$(function() {
			$("h4.display-article").click(function() {
				$("div.sub-section").hide();
				var teamMember = $(this).attr("data-team-member");
				var article = $("div#" + teamMember);
				article.fadeIn();
				$("html, body").animate({
					scrollTop: article.offset().top
				}, 1000);
			});
		})
	</script>
}