@using K9.SharedLibrary.Extensions
@using K9.WebApplication.Config
@model K9.WebApplication.ViewModels.PlannerViewModel

<div class="container main-content clear-both hourly-planner-container margin-bottom-0">
    <div id="hourly-slots">

    </div>
</div>
