@using K9.WebApplication.Config

@using (Html.BeginForm("Toss", "IChing", FormMethod.Post))
{
    using (Html.BeginBootstrapForm())
    {
        <img loading="lazy" class="iching-image light" title="i-ching" alt="i-ching free hexagram generator" src="@MediaService.BaseImagesPath/iching/iching.png" />
        <img loading="lazy" class="iching-image dark" title="i-ching" alt="i-ching free hexagram generator" src="@MediaService.BaseImagesPath/iching/iching-dark.png" />

        <hr />
        <div class="desktop-only text-center">
            @Html.BootstrapButton(Dictionary.GenerateHexagram, EButtonType.Submit, "", EButtonClass.Large)
        </div>
        <div class="device-only text-center">
            @Html.BootstrapButton(Dictionary.Generate, EButtonType.Submit, "", EButtonClass.Large)
        </div>
    }
}