:root {
  --primary-blue: #337ab7;
  --vibrant-green: #22BB44;
  --vibrant-green-10: #36da5a;
  --vibrant-green-30: rgba(34, 187, 68, 0.3);
  --vibrant-green-40: rgba(34, 187, 68, 0.4);
  --vibrant-red: #f44336;
  --vibrant-orange: #FF9800;
  --error-red: #cc0000;
  --snow-white: #ffffff;
  --charcoal-black: #0f1215;
  --border-grey: #dddddd;
  --light-grey: #888888;
  --background-color: #ffffff;
  --surface-color: #eeeeee;
  --text-color: #444444;
  --hover-text-color: #515151;
  --border-color: #dddddd;
  --well-color: linear-gradient(to bottom, #f9f9f9 0, #fdfdfd 100%);
  --panel-header-top: #f7fbff;
  --panel-header-bottom: #f0f8ff;
  --panel-header-text-color: #444444;
  --title-color: #0a4070;
  --subtitle-color: #337ab7;
  --page-background: #ffffff;
  --page-title-color: #331a00;
  --pills-tab-text-color: #0a4070;
  --pills-tab-hover: #ffffff;
  --pills-tab-active: #ffffff;
  --pills-tab-active-hover: #ffffff;
  --pills-tab-background: transparent;
}
.dark-mode {
  --primary-blue: #63a0d4;
  --vibrant-green: #36da5a;
  --vibrant-green-10: #61e27e;
  --vibrant-green-30: rgba(34, 187, 68, 0.3);
  --vibrant-green-40: rgba(34, 187, 68, 0.4);
  --vibrant-red: #f8877f;
  --vibrant-orange: #ffb74d;
  --error-red: #ff1a1a;
  --snow-white: #ffffff;
  --charcoal-black: #2f3842;
  --border-grey: #ffffff;
  --light-grey: #aeaeae;
  --background-color: #0f1215;
  --surface-color: #444444;
  --text-color: #f9f9f9;
  --hover-text-color: #ffffff;
  --border-color: #ffffff;
  --well-color: #091a22;
  --panel-header-top: #246587;
  --panel-header-bottom: #0f2c3a;
  --panel-header-text-color: #f9f9f9;
  --title-color: #e7e7e7;
  --subtitle-color: #f9f9f9;
  --page-background: rgba(20, 56, 74, 0.72);
  --page-title-color: #f9f9f9;
  --pills-tab-text-color: #f9f9f9;
  --pills-tab-hover: linear-gradient(to bottom, #1e5875 0, rgba(20, 56, 74, 0.11) 100%);
  --pills-tab-active: linear-gradient(to bottom, #276e93 0, rgba(20, 56, 74, 0.11) 100%);
  --pills-tab-active-hover: #47a0ce;
}
.image-list {
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid var(--light-grey);
  border-radius: 3px;
  padding: 5px;
  user-select: none;
}
.image-list .image-list-item span,
.image-list .image-list-item img {
  user-select: none;
}
.image-list .image-group-header {
  font-weight: bold;
  margin-top: 12px;
  margin-bottom: 6px;
  padding: 4px 6px;
  width: 100%;
  text-align: center;
  background-color: #eeeeee;
  border-left: 3px solid var(--light-grey);
  font-size: 1em;
  color: var(--primary-blue);
}
.image-list .image-list-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 54px;
  max-height: 54px;
  padding: 6px 8px;
  margin-bottom: 4px;
  overflow: hidden;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.image-list .image-list-item:hover {
  background-color: #EAF7FD;
  outline: 1px solid #2196f3;
}
.image-list .image-list-item:hover .image-actions {
  opacity: 1;
}
.image-list .image-list-item:hover .image-actions .advanced,
.image-list .image-list-item:hover .image-actions .simple {
  opacity: 1;
}
.image-list .image-list-item:focus {
  outline: 2px solid #2196f3;
  background-color: #e6f0ff;
}
.image-list .image-list-item.selected .simple .select-image .check-icon {
  color: #2196f3;
}
.image-list .image-list-item img {
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 2px;
  margin-right: 10px;
  border: 1px solid var(--border-grey);
}
.image-list .image-list-item span.filename {
  flex-grow: 1;
  line-height: 1.4em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.image-list .image-list-item.selected {
  background-color: #EAF7FD;
  outline: 1px solid #2196f3;
}
.image-list .image-list-item .image-actions {
  position: absolute;
  top: 7px;
  right: 8px;
  display: flex;
  gap: 6px;
}
.image-list .image-list-item .image-actions .advanced {
  opacity: 0;
  transition: opacity 0.2s ease;
}
.image-list .image-list-item .image-actions .simple {
  display: flex;
  gap: 6px;
  opacity: 1;
}
.image-list .image-list-item .image-actions button {
  padding: 7px;
  color: #666666;
  background: transparent;
  border: none;
  border-radius: 7px;
}
.image-list .image-list-item .image-actions button i {
  font-size: 18px;
  margin-top: 3px;
  margin-left: 2px;
}
.image-list .image-list-item .image-actions button:hover {
  color: #333333;
}
.image-list .image-list-item .image-actions button:focus {
  outline: none;
}
.image-list-instructions {
  display: inline-block;
  font-size: 0.8em;
  margin-top: 7px;
  margin-bottom: 0 !important;
  line-height: 1.2em !important;
}