:root {
  --primary-blue: #337ab7;
  --vibrant-green: #22BB44;
  --vibrant-green-10: #36da5a;
  --vibrant-green-30: rgba(34, 187, 68, 0.3);
  --vibrant-green-40: rgba(34, 187, 68, 0.4);
  --vibrant-red: #f44336;
  --vibrant-orange: #FF9800;
  --error-red: #cc0000;
  --snow-white: #ffffff;
  --charcoal-black: #0f1215;
  --border-grey: #dddddd;
  --light-grey: #888888;
  --background-color: #ffffff;
  --surface-color: #eeeeee;
  --text-color: #444444;
  --hover-text-color: #515151;
  --border-color: #dddddd;
  --well-color: linear-gradient(to bottom, #f9f9f9 0, #fdfdfd 100%);
  --panel-header-top: #f7fbff;
  --panel-header-bottom: #f0f8ff;
  --panel-header-text-color: #444444;
  --title-color: #0a4070;
  --subtitle-color: #337ab7;
  --page-background: #ffffff;
  --page-title-color: #331a00;
  --pills-tab-text-color: #0a4070;
  --pills-tab-hover: #ffffff;
  --pills-tab-active: linear-gradient(to bottom, #ffffff 0, #f9f9f9 100%);
  --pills-tab-active-hover: #ffffff;
  --pills-tab-background: transparent;
  --table-background-color: #f0f8ff;
  --table-background: linear-gradient(to bottom, #f7fbff 0%, #f0f8ff 100%);
  --table-border-color: transparent;
}
.dark-mode {
  --primary-blue: #63a0d4;
  --vibrant-green: #36da5a;
  --vibrant-green-10: #61e27e;
  --vibrant-green-30: rgba(34, 187, 68, 0.3);
  --vibrant-green-40: rgba(34, 187, 68, 0.4);
  --vibrant-red: #f8877f;
  --vibrant-orange: #ffb74d;
  --error-red: #ff1a1a;
  --snow-white: #ffffff;
  --charcoal-black: #2f3842;
  --border-grey: #ffffff;
  --light-grey: #aeaeae;
  --background-color: #0f1215;
  --surface-color: #444444;
  --text-color: #f9f9f9;
  --hover-text-color: #ffffff;
  --border-color: #ffffff;
  --well-color: #091a22;
  --panel-header-top: #246587;
  --panel-header-bottom: #0f2c3a;
  --panel-header-text-color: #f9f9f9;
  --title-color: #e7e7e7;
  --subtitle-color: #f9f9f9;
  --page-background: rgba(20, 56, 74, 0.72);
  --page-title-color: #f9f9f9;
  --pills-tab-text-color: #f9f9f9;
  --pills-tab-hover: linear-gradient(to bottom, #1e5875 0, rgba(20, 56, 74, 0.11) 100%);
  --pills-tab-active: linear-gradient(to bottom, #276e93 0, rgba(20, 56, 74, 0.11) 100%);
  --pills-tab-active-hover: #47a0ce;
  --pills-tab-background: rgba(20, 56, 74, 0.11);
  --table-background-color: rgba(20, 56, 74, 0.72);
  --table-background: linear-gradient(to bottom, rgba(20, 56, 74, 0.33) 0%, rgba(20, 56, 74, 0.11) 100%);
  --table-border-color: #f9f9f9;
}
.nav-tabs > li > a {
  border-right: 1px solid #eeeeee;
  margin-bottom: 4px;
}
.nav-pills > li > a,
.nav-tabs > li > a {
  background-color: #d9d9d9;
}
.nav-pills > li.active > a,
.nav-tabs > li.active > a {
  background-color: var(--primary-blue);
  color: white;
}
.nav-tabs a,
.nav-pills a {
  font-size: 1.2em !important;
}
.nav-justified li a {
  white-space: nowrap !important;
}
ul.image-pill {
  margin-bottom: 0;
}
ul.image-pill div.img-rounded {
  height: 60px;
  width: 60px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 10px 0;
  margin-left: auto;
  margin-right: auto;
}
ul.image-pill li {
  height: 100%;
}
ul.image-pill li.active a {
  background-image: var(--pills-tab-active) !important;
  -webkit-box-shadow: 0px -10px 10px rgba(0, 0, 0, 0.3);
  /* Top shadow */
  -moz-box-shadow: 0px -10px 10px rgba(0, 0, 0, 0.3);
  /* Top shadow */
  box-shadow: 0px -10px 10px rgba(0, 0, 0, 0.3);
  /* Top shadow */
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
ul.image-pill li.active a:hover {
  background-color: var(--pills-tab-active-hover) !important;
  z-index: 2;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
ul.image-pill li:not(:last-child) a {
  margin-right: 1px;
}
ul.image-pill li:not(.active) a:hover {
  background-image: var(--pills-tab-hover) !important;
  -webkit-box-shadow: 0px -10px 20px rgba(0, 0, 0, 0.2);
  /* Top shadow */
  -moz-box-shadow: 0px -10px 20px rgba(0, 0, 0, 0.2);
  /* Top shadow */
  box-shadow: 0px -10px 20px rgba(0, 0, 0, 0.2);
  /* Top shadow */
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  z-index: 2;
}
ul.image-pill li a {
  background-color: var(--pills-tab-background) !important;
  font-size: 1.1em !important;
  font-weight: bold;
  color: var(--pills-tab-text-color) !important;
  -webkit-box-shadow: 0px -10px 20px rgba(0, 0, 0, 0.05);
  /* Top shadow */
  -moz-box-shadow: 0px -10px 20px rgba(0, 0, 0, 0.05);
  /* Top shadow */
  box-shadow: 0px -10px 20px rgba(0, 0, 0, 0.05);
  /* Top shadow */
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
ul.image-pill li a p {
  margin: 0;
  font-weight: normal;
}
.nav > li > a:hover,
.nav > li > a:focus {
  border-radius: 10px;
}