:root {
  --primary-blue: #337ab7;
  --vibrant-green: #22BB44;
  --vibrant-green-10: #36da5a;
  --vibrant-green-30: rgba(34, 187, 68, 0.3);
  --vibrant-green-40: rgba(34, 187, 68, 0.4);
  --vibrant-red: #f44336;
  --vibrant-orange: #FF9800;
  --error-red: #cc0000;
  --snow-white: #ffffff;
  --charcoal-black: #0f1215;
  --border-grey: #dddddd;
  --light-grey: #888888;
  --background-color: #ffffff;
  --surface-color: #eeeeee;
  --text-color: #444444;
  --hover-text-color: #515151;
  --border-color: #dddddd;
  --well-color: linear-gradient(to bottom, #f9f9f9 0, #fdfdfd 100%);
  --panel-header-top: #f7fbff;
  --panel-header-bottom: #f0f8ff;
  --panel-header-text-color: #444444;
  --title-color: #0a4070;
  --subtitle-color: #337ab7;
  --page-background: #ffffff;
  --page-title-color: #331a00;
  --pills-tab-text-color: #0a4070;
  --pills-tab-hover: #ffffff;
  --pills-tab-active: linear-gradient(to bottom, #ffffff 0, #f9f9f9 100%);
  --pills-tab-active-hover: #ffffff;
  --pills-tab-background: transparent;
  --table-background-color: #f0f8ff;
  --table-background: linear-gradient(to bottom, #f7fbff 0%, #f0f8ff 100%);
  --table-border-color: transparent;
}
.dark-mode {
  --primary-blue: #63a0d4;
  --vibrant-green: #36da5a;
  --vibrant-green-10: #61e27e;
  --vibrant-green-30: rgba(34, 187, 68, 0.3);
  --vibrant-green-40: rgba(34, 187, 68, 0.4);
  --vibrant-red: #f8877f;
  --vibrant-orange: #ffb74d;
  --error-red: #ff1a1a;
  --snow-white: #ffffff;
  --charcoal-black: #2f3842;
  --border-grey: #ffffff;
  --light-grey: #aeaeae;
  --background-color: #0f1215;
  --surface-color: #444444;
  --text-color: #f9f9f9;
  --hover-text-color: #ffffff;
  --border-color: #ffffff;
  --well-color: #091a22;
  --panel-header-top: #246587;
  --panel-header-bottom: #0f2c3a;
  --panel-header-text-color: #f9f9f9;
  --title-color: #e7e7e7;
  --subtitle-color: #f9f9f9;
  --page-background: rgba(20, 56, 74, 0.72);
  --page-title-color: #f9f9f9;
  --pills-tab-text-color: #f9f9f9;
  --pills-tab-hover: linear-gradient(to bottom, #1e5875 0, rgba(20, 56, 74, 0.11) 100%);
  --pills-tab-active: linear-gradient(to bottom, #276e93 0, rgba(20, 56, 74, 0.11) 100%);
  --pills-tab-active-hover: #47a0ce;
  --pills-tab-background: rgba(20, 56, 74, 0.11);
  --table-background-color: rgba(20, 56, 74, 0.72);
  --table-background: linear-gradient(to bottom, rgba(20, 56, 74, 0.33) 0%, rgba(20, 56, 74, 0.11) 100%);
  --table-border-color: #f9f9f9;
}
.datatable-container {
  width: 100%;
  overflow: auto;
}
.datatable-container div {
  margin: 0;
}
.button-container {
  margin-bottom: 9px;
}
.bootstraptable {
  border-top-left-radius: 9px !important;
  border-top-right-radius: 9px !important;
  background-color: #f0f8ff;
  background: linear-gradient(to bottom, #f7fbff 0%, #f0f8ff 100%);
}
.bootstraptable .btn,
.bootstraptable form .btn {
  margin-right: 6px;
}
.bootstraptable thead {
  color: #333333;
}
.bootstraptable thead > tr:first-child th {
  white-space: nowrap !important;
}
.bootstraptable tbody tr:hover {
  background: var(--primary-blue) !important;
  color: var(--snow-white) !important;
}
.bootstraptable td {
  vertical-align: middle !important;
}
form .pull-right .btn {
  margin-right: 0;
}
.table-row {
  border-bottom: 1px solid #d9d9d9;
  padding-top: 11px;
  padding-bottom: 6px;
}
.table-row button {
  margin-top: -4px !important;
  margin-bottom: 0 !important;
}
.table-responsive {
  margin-left: 0;
  margin-right: 0;
  border-top-left-radius: 9px !important;
  border-top-right-radius: 9px !important;
  border: 1px solid var(--table-border-color);
  background-color: var(--table-background-color);
  background: var(--table-background);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.table-responsive table {
  margin-bottom: 0 !important;
}
.table-responsive table thead th {
  padding-top: 12px !important;
  padding-bottom: 12px !important;
  color: var(--text-color);
}
.table-responsive table tbody tr:first-child td {
  border-top: none;
  color: var(--text-color);
}
.table-responsive table tbody tr td {
  color: var(--text-color);
}
.table-responsive.table-left-nowrap table th {
  white-space: nowrap !important;
}
.table-responsive.table-left-nowrap table td {
  white-space: normal;
  word-wrap: break-word !important;
  word-break: break-word !important;
}
.form-control.input-sm[type="search"] {
  border-radius: 25px;
  padding: 10px 40px 10px 15px;
  border: 1px solid var(--light-grey);
  transition: all 0.3s ease-in-out;
  font-size: 14px;
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="%23777" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="11" cy="11" r="8"/><line x1="21" y1="21" x2="16.65" y2="16.65"/></svg>') no-repeat;
  background-size: 20px;
  background-position: right 12px center;
  background-repeat: no-repeat;
}
.form-control.input-sm[type="search"]:focus {
  border-color: #0074E4;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}
.datatable-container .col-lg-1,
.datatable-container .col-lg-10,
.datatable-container .col-lg-11,
.datatable-container .col-lg-12,
.datatable-container .col-lg-2,
.datatable-container .col-lg-3,
.datatable-container .col-lg-4,
.datatable-container .col-lg-5,
.datatable-container .col-lg-6,
.datatable-container .col-lg-7,
.datatable-container .col-lg-8,
.datatable-container .col-lg-9,
.datatable-container .col-md-1,
.datatable-container .col-md-10,
.datatable-container .col-md-11,
.datatable-container .col-md-12,
.datatable-container .col-md-2,
.datatable-container .col-md-3,
.datatable-container .col-md-4,
.datatable-container .col-md-5,
.datatable-container .col-md-6,
.datatable-container .col-md-7,
.datatable-container .col-md-8,
.datatable-container .col-md-9,
.datatable-container .col-sm-1,
.datatable-container .col-sm-10,
.datatable-container .col-sm-11,
.datatable-container .col-sm-12,
.datatable-container .col-sm-2,
.datatable-container .col-sm-3,
.datatable-container .col-sm-4,
.datatable-container .col-sm-5,
.datatable-container .col-sm-6,
.datatable-container .col-sm-7,
.datatable-container .col-sm-8,
.datatable-container .col-sm-9,
.datatable-container .col-xs-1,
.datatable-container .col-xs-10,
.datatable-container .col-xs-11,
.datatable-container .col-xs-12,
.datatable-container .col-xs-2,
.datatable-container .col-xs-3,
.datatable-container .col-xs-4,
.datatable-container .col-xs-5,
.datatable-container .col-xs-6,
.datatable-container .col-xs-7,
.datatable-container .col-xs-8,
.datatable-container .col-xs-9 {
  padding-left: 0;
  padding-right: 0;
}