@model K9.WebApplication.Models.NineStarKiEnergy

<div class="ninestar-summary-container margin-3">
    <h3 class="margin-bottom-0 padding-bottom-0 margin-top-2">@Dictionary.Colour</h3>
    <p>@Model.Colour</p>
</div>