@model K9.WebApplication.Models.CompatibilityModel

<h4>>@Dictionary.CharacterElements</h4>
@Html.Raw(Model.CompatibilityDetails.ElementCompatibility.CharacterElementsTransformationDetails)

<p>
    @Html.Raw(Model.CompatibilityDetails.ElementCompatibility.CharacterElementsCompatibilityDetails)
</p>
