@model K9.WebApplication.Models.CompatibilityModel

@if (Model != null && Model.IsProcessed)
{
    <div>@Html.Raw(Model.FundamentalEnergyDetails)</div>

    <div>@Html.Raw(Model.CharacterEnergyDetails)</div>
}