@model K9.WebApplication.Models.CompatibilityModel

<div class="row">
    <div class="col-sm-12">
        @if (Model != null && Model.IsProcessed)
        {
            
            
        }
    </div>
</div>