@model K9.WebApplication.Models.CompatibilityModel

@using (Html.BeginBootstrapForm())
{
    <div class="row">
        <div class="col-md-6 padding-left-0 padding-right-5">
            @if (Model != null && Model.IsProcessed)
            {
                @Html.Partial("../NineStarKi/_ProfileSummary", Model.NineStarKiModel1)
            }
        </div>
        <div class="col-md-6 padding-left-5 padding-right-0">
            @if (Model != null && Model.IsProcessed)
            {
                @Html.Partial("../NineStarKi/_ProfileSummary", Model.NineStarKiModel2)
            }
        </div>
    </div>
}