@model K9.WebApplication.Models.NineStarKiEnergy

<div class="container main-content clear-both ninestar-header-container">
    <div class="col-md-3 col-sm-6 col-xs-6">
        @Html.Partial("_Energy")
    </div>
    <div class="col-md-3 col-sm-6 col-xs-6">
        @Html.Partial("_YinYang")
    </div>
    <div class="col-md-3 col-sm-6 col-xs-6">
        @Html.Partial("_Element")
    </div>
    <div class="col-md-3 col-sm-6 col-xs-6">
        @Html.Partial("_Trigram")
    </div>
</div>