@using K9.WebApplication.Helpers
@using K9.WebApplication.Models
@model NineStarKiModel

@if (Model != null)
{
    <ul class="nav nav-pills nav-justified">
        <li><a data-toggle="tab" href="#straight">If @Dictionary.Straight</a></li>
        <li><a data-toggle="tab" href="#gay">If @Model.GayLabel</a></li>
    </ul>

    <div class="tab-content">
        <div id="straight" class="tab-pane fade">
            @Model.SexualityRelationTypeDetails
        </div>
    </div>

    <div class="tab-content">
        <div id="gay" class="tab-pane fade">
            @Model.SexualityRelationTypeDetails
        </div>
    </div>
}