@model K9.WebApplication.Models.NineStarKiEnergy

<div class="ninestar-summary-container">
    <h3>@K9.Globalisation.Dictionary.Trigram</h3>
    <p>@Model.Trigram</p>
    <a href="#@Model.TrigramName">
        <img title="@Model.Trigram Trigram" alt="@Model.Trigram Trigram" class="auto-size center-block" src="~/Images/ninestar/trigrams/trigram-@(Model.Energy)-square.png" />
    </a>
</div>