@using K9.WebApplication.Helpers
@model K9.WebApplication.ViewModels.NineStarKiViewModel

@{
    ViewBag.Title = K9.Globalisation.Dictionary.RelationshipsTitle;
    ViewBag.SubTitle = K9.Globalisation.Dictionary.RelationshipsTitle;
    ViewBag.Keywords = K9.Globalisation.Dictionary.RelationshipsMetaDescription;
    ViewBag.MetaDescription = K9.Globalisation.Dictionary.RelationshipsMetaDescription;

    ViewBag.Background = ViewBagHelper.EViewBackground.Jarallax;
    Layout = "../Shared/_LayoutForm.cshtml";
}

@Html.Partial("_BetaPopup")

<div class="container main-content">
    <h2 class="text-center">@K9.Globalisation.Dictionary.ComingSoon</h2>
</div>