@using K9.Base.WebApplication.Helpers
@using K9.SharedLibrary.Helpers
@using K9.WebApplication.Options
@model K9.WebApplication.ViewModels.ArticleDynamicFieldsViewModel

@if (Model.EntityImageFields.Any())
{
    <div class="image-group-header">@Dictionary.ArticleImages</div>
    foreach (var item in Model.EntityImageFields)
    {
        @Html.Partial("../Shared/Controls/_ImageListItem", item)
    }
}

@if (Model.GlobalImageFields.Any())
{
    <div class="image-group-header">@Dictionary.GlobalImages</div>
    foreach (var item in Model.GlobalImageFields)
    {
        @Html.Partial("../Shared/Controls/_ImageListItem", item)
    }
}