@model K9.WebApplication.Models.NineStarKiModel
 
<div id="energy-summary-container">
    <div class="col-md-4 col-sm-4">
        @Html.Partial("_EnergyTitle", Model.MainEnergy)
    </div>
    <div class="col-md-4 col-sm-4">
        @Html.Partial("_EnergyTitle", Model.EmotionalEnergy)
    </div>
    <div class="col-md-4 col-sm-4">
        @Html.Partial("_EnergyTitle", Model.SurfaceEnergy)
    </div>
</div>