@model NineStarKiEnergy
 
<div class="ninestar-summary-container">
    <h3>@K9.Globalisation.Dictionary.Energy</h3>
    <p>@Model.EnergyName</p>
    <img title="@Model.EnergyName" alt="@Model.EnergyName" class="auto-size center-block" src="/Images/ninestar/energies/@(Model.Energy.ToString().ToLower()).png"/>
</div>