@using K9.WebApplication.Options
@model K9.WebApplication.Models.CompatibilityModel

@{
    var data = Model.CompatibilityDetails.ElementCompatibility.GetTransformationFractions();
    var pieChartOptions = new PieChartOptions
    {
        PieChartItems = new List<PieChartItem>
        {
        new PieChartItem {Color = "#22BB44", Title = Dictionary.SupportiveElements, Value = (int) data.SupportivePercentage},
        new PieChartItem {Color = "#0074E4", Title = Dictionary.SiblingElements, Value = (int) data.SiblingPercentage},
        new PieChartItem {Color = "red", Title = Dictionary.ChallengingElements, Value = (int) data.ChallengingPercentage}
        }
    };
}

<div class="compatibility-elements-breakdown">

    @Html.Partial("Charts/_PieChart", pieChartOptions)
    
</div>

<hr />

@Html.Raw(Model.CompatibilityDetails.ElementCompatibility.AllOtherElementsCompatibility)