@model K9.WebApplication.Models.NineStarKiEnergy

<div class="ninestar-summary-container">
    <h3>@Model.YinYang</h3>
    <img alt="@Model.YinYang" class="auto-size" src="/Images/ninestar/yinyang/@(Model.YinYang).png"/>
</div>