@using K9.SharedLibrary.Extensions
@using K9.SharedLibrary.Helpers
@using TemplateParser = K9.SharedLibrary.Helpers.TemplateParser
@model K9.WebApplication.Models.CompatibilityModel

@Html.Raw(Model.CompatibilityDetails.ElementCompatibility.CharacterElementsTransformationDetails)
 
<p>
    @Html.Raw(Model.CompatibilityDetails.ElementCompatibility.CharacterElementsCompatibilityDetails)
</p>
