@using K9.WebApplication.Helpers
@model K9.WebApplication.Models.CompatibilityModel

<div>
    @Html.Partial("../PersonalChart/_ProfileSummary", Model.NineStarKiModel1)
    <br />
    @Html.Partial("../PersonalChart/_ProfileSummary", Model.NineStarKiModel2)

    @Html.Partial("_CompatibilityGauges")
</div>

