@using K9.Base.WebApplication.Extensions
@model DateTimeOffset?
@{
	var value = Model.HasValue ? Model.Value.ToString(K9.DataAccessLayer.Constants.FormatConstants.AppointmentDisplayDateTimeFormat) : "";
}
<div>@value</div>