@model K9.WebApplication.Models.NineStarKiEnergy

<div class="container margin-0 padding-0 width-100">
    <div class="col-md-4 padding-0">
        <div class="trigram-container">
            <img class="center-150" alt="@Model.Energy" src="/Images/ninestar/trigrams/trigram-@(Model.Energy).jpg" />
        </div>
    </div>
    <div class="col-md-8 padding-0 padding-left-20-desktop">
        
    </div>
</div>
