@model string

@{
    var isAbsolute = !string.IsNullOrEmpty(Model) && (Model.StartsWith("http"));
    var src = string.IsNullOrEmpty(Model) ? "" : isAbsolute ? Model : Url.Content("~/" + (Model ?? "").TrimStart('~', '/'));
}

<div>
    <img class="img-responsive image-preview" loading="lazy" src="@src" />
</div>