@using K9.Base.WebApplication.Helpers
@model EmailTemplate
@{
    ViewBag.Title = Dictionary.MailingLists;
    ViewBag.SubTitle = Dictionary.EmailTemplateSentSuccessfully;
    Layout = "../Shared/_LayoutFormSmall.cshtml";
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    using (Html.BeginBootstrapForm())
    {
        @Html.Success(Dictionary.EmailTemplateSentSuccessfully)
        <div class="text-center margin-bottom-10">
            @Html.BootstrapBackToListButton()
        </div>
    }
}