@using K9.Base.WebApplication.Helpers
@model K9.WebApplication.ViewModels.SendEmailTemplateViewModel
@{
    ViewBag.Title = Dictionary.MailingLists;
    ViewBag.SubTitle = Dictionary.EmailTemplateSentSuccessfully;
    ViewBag.TitleTag = "text-center";
    Layout = "../Shared/_LayoutFormSmall.cshtml";
}

<div class="margin-bottom-10">
    @Html.Success(Dictionary.EmailTemplateSentSuccessfully)
</div>

<hr />
<div class="text-center margin-bottom-10">
    @Html.BootstrapBackToListButton()
</div>

