@model K9.WebApplication.Models.NineStarKiEnergy

<div class="ninestar-summary-container">
    <h3>@Model.Element</h3>
    <img alt="@Model.Element" class="auto-size center-block" src="/Images/ninestar/elements/@(Model.Element).png"/>
</div>