@model NineStarKiEnergy
 
<div class="ninestar-summary-container">
    <h3>@Model.EnergyName</h3>
    <img title="@Model.EnergyName" alt="@Model.EnergyName" class="auto-size center-block" src="/Images/ninestar/energies/@(Model.Energy.ToString().ToLower()).png"/>
</div>