@model K9.WebApplication.Models.NineStarKiEnergy
 
<div class="ninestar-summary-container">
    <h3>@Model.Energy.ToString()</h3>
    <img title="@Model.Energy.ToString()" alt="@Model.Energy.ToString()" class="auto-size center-block" src="/Images/ninestar/energies/@(Model.Energy.ToString().ToLower()).png"/>
</div>