@using K9.SharedLibrary.Helpers
@using K9.WebApplication.Helpers
@using K9.WebApplication.Models
@using K9.WebApplication.Options
@model K9.WebApplication.ViewModels.NineStarKiModalitySummaryViewModel

@if (Model != null && Model.ModalityEnergies.Any())
{
    <div class="row margin-bottom-0">
        <div class="col-sm-6 col-sm-offset-3">
            @foreach (var energy in Model.ModalityEnergies)
            {
                <div class="col-sm-4 modality-energy-container">
                    @Html.ImagePanel(energy.FullEnergyName, $"Images/ninestar/energies/{energy.Energy.ToString().ToLower()}.png", EPanelImageSize.Small, EPanelImageLayout.Contain)
                </div>
            }
        </div>
        <div class="col-sm-12">
            <article>
                @MvcHtmlString.Create(TemplateProcessor.PopulateTemplate(Model.Body,
                    new
                    {
                        water = Model.ModalityEnergies.FirstOrDefault(e => e.Energy == ENineStarKiEnergy.Water)?.EnergyDescriptiveNameAndNumber,
                        soil = Model.ModalityEnergies.FirstOrDefault(e => e.Energy == ENineStarKiEnergy.Soil)?.EnergyDescriptiveNameAndNumber,
                        thunder = Model.ModalityEnergies.FirstOrDefault(e => e.Energy == ENineStarKiEnergy.Thunder)?.EnergyDescriptiveNameAndNumber,
                        wind = Model.ModalityEnergies.FirstOrDefault(e => e.Energy == ENineStarKiEnergy.Wind)?.EnergyDescriptiveNameAndNumber,
                        coreearth = Model.ModalityEnergies.FirstOrDefault(e => e.Energy == ENineStarKiEnergy.CoreEarth)?.EnergyDescriptiveNameAndNumber,
                        heaven = Model.ModalityEnergies.FirstOrDefault(e => e.Energy == ENineStarKiEnergy.Heaven)?.EnergyDescriptiveNameAndNumber,
                        lake = Model.ModalityEnergies.FirstOrDefault(e => e.Energy == ENineStarKiEnergy.Lake)?.EnergyDescriptiveNameAndNumber,
                        mountain = Model.ModalityEnergies.FirstOrDefault(e => e.Energy == ENineStarKiEnergy.Mountain)?.EnergyDescriptiveNameAndNumber,
                        fire = Model.ModalityEnergies.FirstOrDefault(e => e.Energy == ENineStarKiEnergy.Fire)?.EnergyDescriptiveNameAndNumber,
                    }
                    ))
            </article>
        </div>
    </div>
}