@model NineStarKiSummaryViewModel
@using K9.WebApplication.Helpers
@using K9.WebApplication.Options
@using K9.WebApplication.ViewModels

<div class="energies-summary">
    @foreach (var energy in Model.Energies)
    {
        @Html.CollapsiblePanel(energy.MainEnergy.FullEnergyDetailsTitle, energy.MainEnergy.EnergyDescription, false, "", "", $"Images/ninestar/energies/{energy.MainEnergy.Energy}.png", EPanelImageSize.Default, EPanelImageLayout.Contain)
    }
</div>
    