@model NineStarKiEnergy

<hr/>
<div class="container margin-0 padding-0 width-100 clear-both ninestar-header-container">
    <article>
        <h3><strong>@Model.EnergyName</strong></h3>
        @MvcHtmlString.Create("")
    </article>
</div>