@model EnergyInfo

@if (Model != null)
{
    <div class="container margin-0 padding-0 width-100 clear-both ninestar-header-container">
        <article>
            <div>
                <h4>@Html.LabelFor(m => Model.Trigram)</h4>
                @Model.Trigram
                <hr/>
                <h4>@Html.LabelFor(m => Model.EnergyDescription)</h4>
                @MvcHtmlString.Create(Model.EnergyDescription)
            </div>
        </article>
    </div>
}