@model NineStarKiEnergy

<div class="ninestar-summary-container">
    <h3>@Model.Trigram</h3>
    <img title="@Model.Trigram Trigram"  alt="@Model.Trigram Trigram" class="auto-size center-block" src="/Images/ninestar/trigrams/trigram-@(Model.Energy)-square.png"/>
</div>