@{
	ViewBag.Title = Dictionary.NineStarKiTitle;
	Layout = "~/Views/Shared/_LayoutForm.cshtml";
}

This is a test

<form>
<div class="container">
	<div class="checkbox">
		<label><input type="checkbox" value="">Option 1</label>
	</div>
</div>
</form>