@{
    ViewBag.Title = K9.Base.Globalisation.Dictionary.Home;
    ViewBag.SubTitle = Dictionary.WelcomeSubTitle;    
    Layout = "../Shared/_LayoutFormMedium.cshtml";
}

<style>
    article h4 {
        margin-top: 0;
    }
</style>

@Html.Partial("_BetaPopup")

<div class="container main-content">
    <div class="well margin-bottom-0">
        <div class="row">
            <article>
                @MvcHtmlString.Create(Dictionary.welcome)
            </article>
       
            @Html.Partial("_ButtonsFooter")
        </div>
    </div>
</div>