@{
    ViewBag.Title = Dictionary.Home;
    ViewBag.SubTitle = K9.Globalisation.Dictionary.CalculateYourNineStarKi;
    ViewBag.Jarallax = "jarallax";
    Layout = "../Shared/_LayoutFormSmall.cshtml";
}

<div class="container">
    <div class="col-md-4">
        @Html.Partial("_Calculator")
    </div>
    <div class="col-md-8">
        @Html.Partial("_Results")
        <div class="clearfix"> </div>
    </div>
