@{
	ViewBag.Title = Dictionary.NineStarKiTitle;
	ViewBag.SubTitle = "Nine Star Ki";
	Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<article>
	<p>
		Lorem ipsum dolor sit amet, mel ne graece oportere, vel ex iusto decore evertitur.
		Te postea fierent duo, ex sit quis comprehensam, sit partem detracto prodesset ut.
		Mei vocent iracundia at, at vis ignota integre impedit, sit in veri commodo consulatu.
		Eu vim consequat intellegat cotidieque, has suas veri disputationi id. Modus hendrerit
		ne quo, pro alii exerci invidunt cu. Eu exerci constituam duo, eos purto inimicus
		ea. Delenit conceptam ex quo. No ius adhuc affert menandri, qui an consulatu philosophia,
		qui justo delicata ex. Mel modus invidunt gloriatur ne. In ius populo civibus, sit
		an oratio perfecto tincidunt, ludus consul posidonium pro te. Sea rebum graeco theophrastus
		no. Et cibo nonumes mea, pri ea menandri incorrupte. Qui te laboramus intellegat,
		pro mutat rationibus an, eam in officiis patrioque referrentur. Est ne antiopam
		constituto, apeirian partiendo expetenda ad vix. Te his iusto inimicus. Ius at labores
		omittam, has natum repudiare et, primis probatus expetenda vel ne. Nam cu hinc repudiare.
		Sit ut meis aperiam. Eos quaeque postulant ne. Vix justo choro an, soluta adolescens
		eu his, sed denique fierent neglegentur at. Partiendo maluisset an vis. Ea oblique
		indoctum vim. Quando nominavi antiopam pri in. Omnis accusata his no, ludus decore
		utamur ei mei, mea ne iudico nusquam. Sea ea esse idque mucius. Stet quaestio pertinacia
		ius ei, platonem dissentias intellegebat ei sit, justo dicat inciderint ea cum.
		Iuvaret diceret et vim, sit cu impetus intellegam. At ludus verterem voluptaria
		ius. Ea partem postea definitionem nam, duo ad equidem facilisis necessitatibus.
		Usu omnes inermis periculis ne, quem nostrud volutpat has no, ut doming omittam
		sit.
	</p>

	<p>
		Lorem ipsum dolor sit amet, mel ne graece oportere, vel ex iusto decore evertitur.
		Te postea fierent duo, ex sit quis comprehensam, sit partem detracto prodesset ut.
		Mei vocent iracundia at, at vis ignota integre impedit, sit in veri commodo consulatu.
		Eu vim consequat intellegat cotidieque, has suas veri disputationi id. Modus hendrerit
		ne quo, pro alii exerci invidunt cu. Eu exerci constituam duo, eos purto inimicus
		ea. Delenit conceptam ex quo. No ius adhuc affert menandri, qui an consulatu philosophia,
		qui justo delicata ex. Mel modus invidunt gloriatur ne. In ius populo civibus, sit
		an oratio perfecto tincidunt, ludus consul posidonium pro te. Sea rebum graeco theophrastus
		no. Et cibo nonumes mea, pri ea menandri incorrupte. Qui te laboramus intellegat,
		pro mutat rationibus an, eam in officiis patrioque referrentur. Est ne antiopam
		constituto, apeirian partiendo expetenda ad vix. Te his iusto inimicus. Ius at labores
		omittam, has natum repudiare et, primis probatus expetenda vel ne. Nam cu hinc repudiare.
		Sit ut meis aperiam. Eos quaeque postulant ne. Vix justo choro an, soluta adolescens
		eu his, sed denique fierent neglegentur at. Partiendo maluisset an vis. Ea oblique
		indoctum vim. Quando nominavi antiopam pri in. Omnis accusata his no, ludus decore
		utamur ei mei, mea ne iudico nusquam. Sea ea esse idque mucius. Stet quaestio pertinacia
		ius ei, platonem dissentias intellegebat ei sit, justo dicat inciderint ea cum.
		Iuvaret diceret et vim, sit cu impetus intellegam. At ludus verterem voluptaria
		ius. Ea partem postea definitionem nam, duo ad equidem facilisis necessitatibus.
		Usu omnes inermis periculis ne, quem nostrud volutpat has no, ut doming omittam
		sit.
	</p>
	
	@Html.BootstrapButton("Test Button")
</article>