@{
    ViewBag.Title = K9.Globalisation.Dictionary.PrivacyPolicyTitle;
    ViewBag.SubTitle = K9.Globalisation.Dictionary.PrivacyPolicyTitle;

    Layout = "../Shared/_LayoutForm.cshtml";
}

@Html.Partial("_BetaPopup")

<div class="container main-content">
    <article>
        @using (Html.BeginBootstrapForm())
        {
            @MvcHtmlString.Create(K9.Globalisation.Dictionary.PrivacyPolicy)
        }
    </article>
</div>

