@model K9.WebApplication.Models.MembershipModel
@{
    ViewBag.Title = Dictionary.MembershipLabel;
    ViewBag.SubTitle = Dictionary.YourSelectedSubscription;
    Layout = "../Shared/_LayoutFormSmall.cshtml";
}

@using (Html.BeginForm("Purchase", "Membership", FormMethod.Post))
{
    using (Html.BeginBootstrapForm())
    {
        <h4 class="margin-bottom-30"><strong>@Dictionary.SelectedPurchaseText:</strong></h4>

        @Html.Partial("_MembershipOption")

        @Html.Hidden("Id", Model.MembershipOption.Id)
        
        <hr />
        @Html.BootstrapButton(K9.Base.Globalisation.Dictionary.Next, EButtonType.Submit, "fa-chevron-right", EButtonClass.IconRight)
    }
}