    @model K9.WebApplication.Models.MembershipModel
@{
    ViewBag.Title = Dictionary.MembershipOptions;
    Layout = "../Shared/_LayoutFormSmall.cshtml";

    var buttonText = Model.IsUpgrade
            ? Dictionary.Upgrade
            : Dictionary.Switch;
}

@using (Html.BeginForm("SwitchScheduleProcess", "Membership", FormMethod.Post))
{
    <p style="margin-bottom: 25px;">@Dictionary.SelectedPurchaseText</p>

    @Html.Partial("_MembershipOption")

    using (Html.BeginBootstrapForm())
    {
        @Html.Hidden("MembershipOptionId", Model.MembershipOption.Id)
        @Html.BootstrapButton(buttonText, EButtonType.Submit, "fa-chevron-right", EButtonClass.IconRight)

        <hr />
    }
}