:root {
  --primary-blue: #337ab7;
  --vibrant-green: #22BB44;
  --vibrant-green-10: #36da5a;
  --vibrant-green-30: rgba(34, 187, 68, 0.3);
  --vibrant-green-40: rgba(34, 187, 68, 0.4);
  --vibrant-red: #f44336;
  --vibrant-orange: #FF9800;
  --error-red: #cc0000;
  --snow-white: #ffffff;
  --charcoal-black: #0f1215;
  --border-grey: #dddddd;
  --light-grey: #888888;
  --background-color: #ffffff;
  --background-color-hover: #f2f2f2;
  --surface-color: #eeeeee;
  --text-color: #444444;
  --hover-text-color: #515151;
  --border-color: #dddddd;
  --well-color: linear-gradient(to bottom, #f9f9f9 0, #fdfdfd 100%);
  --panel-header-top: #f7fbff;
  --panel-header-bottom: #f0f8ff;
  --panel-header-text-color: #444444;
  --title-color: #0a4070;
  --subtitle-color: #337ab7;
  --page-background: #ffffff;
  --page-title-color: #331a00;
  --pills-tab-text-color: #0a4070;
  --pills-tab-hover: #ffffff;
  --pills-tab-active: linear-gradient(to bottom, #ffffff 0, #f9f9f9 100%);
  --pills-tab-active-hover: #ffffff;
  --pills-tab-background: transparent;
  --table-background-color: #f0f8ff;
  --table-background: linear-gradient(to bottom, #f7fbff 0%, #f0f8ff 100%);
  --table-border-color: transparent;
  --nav-pills-button-background: #d9d9d9;
  --readmore-overlay-background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 22%, #ffffff 81%);
  --ninestar-summary-container-hover: #ffffff;
  --body-background: #ffffff;
  --page-overlay-color: rgba(0, 0, 0, 0.3);
  --page-fadein-color: #ffffff;
}
.dark-mode {
  --primary-blue: #63a0d4;
  --vibrant-green: #36da5a;
  --vibrant-green-10: #61e27e;
  --vibrant-green-30: rgba(34, 187, 68, 0.3);
  --vibrant-green-40: rgba(34, 187, 68, 0.4);
  --vibrant-red: #f8877f;
  --vibrant-orange: #ffb74d;
  --error-red: #ff1a1a;
  --snow-white: #ffffff;
  --charcoal-black: #2f3842;
  --border-grey: #ffffff;
  --light-grey: #aeaeae;
  --background-color: #0f1215;
  --background-color-hover: #2f3842;
  --surface-color: #444444;
  --text-color: #f9f9f9;
  --hover-text-color: #ffffff;
  --border-color: #ffffff;
  --well-color: #091a22;
  --panel-header-top: #246587;
  --panel-header-bottom: #0f2c3a;
  --panel-header-text-color: #f9f9f9;
  --title-color: #e7e7e7;
  --subtitle-color: #f9f9f9;
  --page-background: rgba(20, 56, 74, 0.72);
  --page-title-color: #f9f9f9;
  --pills-tab-text-color: #f9f9f9;
  --pills-tab-hover: linear-gradient(to bottom, #1e5875 0, rgba(20, 56, 74, 0.11) 100%);
  --pills-tab-active: linear-gradient(to bottom, #276e93 0, rgba(20, 56, 74, 0.11) 100%);
  --pills-tab-active-hover: #47a0ce;
  --pills-tab-background: rgba(20, 56, 74, 0.11);
  --table-background-color: rgba(20, 56, 74, 0.72);
  --table-background: linear-gradient(to bottom, rgba(20, 56, 74, 0.33) 0%, rgba(20, 56, 74, 0.11) 100%);
  --table-border-color: #f9f9f9;
  --nav-pills-button-background: #1e5875;
  --readmore-overlay-background: linear-gradient(to bottom, rgba(20, 56, 74, 0) 22%, #14384a 81%);
  --ninestar-summary-container-hover: #14384a;
  --body-background: #14384a;
  --page-overlay-color: rgba(0, 0, 0, 0.3);
  --page-fadein-color: #ffffff;
}
/*@images-path: "../../../Images";*/
.dark-mode {
  /*Daily Calendar*/
  /* Hourly Planner */
  /* Numerology */
}
.dark-mode h1,
.dark-mode h2,
.dark-mode h1 > strong {
  font-weight: 300 !important;
  text-shadow: none !important;
}
.dark-mode h3,
.dark-mode h4,
.dark-mode h5 {
  text-shadow: none !important;
}
.dark-mode h1,
.dark-mode h2,
.dark-mode h3,
.dark-mode h4,
.dark-mode h5,
.dark-mode h6 {
  color: #f9f9f9;
}
.dark-mode a {
  color: #abcbe8;
}
.dark-mode a:hover {
  color: #dbe9f5;
}
.dark-mode label {
  color: var(--text-color);
}
.dark-mode ul li {
  color: var(--text-color);
}
.dark-mode img.light {
  display: none;
}
.dark-mode img.dark {
  display: block;
  margin: 11px auto;
}
.dark-mode .form-control {
  background-color: var(--background-color);
  color: var(--text-color);
  border-color: var(--border-color);
  box-shadow: none;
}
.dark-mode .form-control::placeholder {
  color: var(--light-grey);
  opacity: 0.7;
}
.dark-mode .form-control:focus {
  background-color: var(--background-color);
  color: var(--text-color);
  border-color: var(--primary-blue);
  box-shadow: 0 0 4px var(--primary-blue);
}
.dark-mode .help-block,
.dark-mode .control-label,
.dark-mode .form-text {
  color: var(--light-grey);
}
.dark-mode .input-group-addon {
  background-color: var(--background-color);
  color: var(--text-color);
  border-color: var(--border-color);
}
.dark-mode .dropdown-menu {
  background-color: var(--background-color);
  border-color: var(--border-color);
}
.dark-mode .dropdown-menu > li > a {
  color: var(--text-color);
  background-color: transparent;
}
.dark-mode .dropdown-menu > li > a:hover,
.dark-mode .dropdown-menu > li > a:focus {
  background-color: var(--primary-blue);
  color: var(--snow-white);
}
.dark-mode .dropdown-menu > li > a:hover:not(:focus) {
  background: rgba(20, 56, 74, 0.72);
  background-image: none;
}
.dark-mode .dropdown-menu > .active > a {
  background-color: var(--primary-blue);
  color: var(--snow-white);
}
.dark-mode .dropdown-menu > li.divider {
  background-color: var(--border-color);
}
.dark-mode .bootstrap-select .btn-default {
  background-color: var(--background-color);
  text-shadow: none;
  color: var(--text-color);
}
.dark-mode .well {
  background-color: var(--well-color);
  border-color: var(--border-color);
  color: var(--text-color);
  background-image: none;
}
.dark-mode .btn-primary,
.dark-mode .btn-lg {
  color: #ffffff !important;
}
.dark-mode .alphaBackground {
  background: var(--page-background);
  filter: alpha(opacity=81);
}
.dark-mode .nav-pills > li > a:hover,
.dark-mode .nav-tabs > li > a:hover {
  background-color: var(--pills-tab-active-hover);
}
.dark-mode .footer p,
.dark-mode .footer-copyright p,
.dark-mode .footer a,
.dark-mode .footer-copyright a {
  color: var(--text-color) !important;
}
.dark-mode .panel .panel-heading .panel-title a {
  color: var(---text-color);
}
.dark-mode .panel .panel-body h4 {
  color: var(--title-color);
}
.dark-mode .panel .panel-body h5 {
  color: var(--subtitle-color);
}
.dark-mode .panel .panel-body h5.dark {
  color: var(--title-color);
}
.dark-mode .iching-image.dark {
  display: table;
}
.dark-mode .iching-image.light {
  display: none;
}
.dark-mode .calendar-grid {
  background-color: var(--background-color);
}
.dark-mode .calendar-grid .calendar-header {
  color: var(--text-color);
}
.dark-mode .calendar-grid .calendar-day {
  outline: 1px solid #0f1215;
  background: rgba(20, 56, 74, 0.72);
}
.dark-mode .calendar-grid .calendar-day:hover {
  background: var(--pills-tab-hover);
}
.dark-mode .calendar-grid .calendar-day .date-label {
  color: var(--text-color);
}
.dark-mode .calendar-grid .calendar-day .custom-content {
  color: var(--text-color);
}
.dark-mode .calendar-grid .calendar-day .custom-content .moon-wrapper img {
  border-radius: 50px;
  padding: 0;
  margin: 5px;
}
.dark-mode .calendar-grid .calendar-day .custom-content .moon-wrapper img.new-moon {
  box-shadow: 0 0 8px 2px rgba(94, 174, 255, 0.6);
}
.dark-mode .calendar-grid .calendar-day.current {
  background: linear-gradient(to bottom, #276e93 0, #0e2936 100%);
  outline: 2px solid #f9f9f9;
}
.dark-mode .calendar-grid .calendar-day.current.active {
  outline: 2px solid #f9f9f9;
}
.dark-mode .calendar-grid .calendar-day.active {
  background: linear-gradient(to bottom, #276e93 0, #0e2936 100%) !important;
  outline: 1px solid #276e93;
}
.dark-mode .calendar-grid .calendar-day.active div {
  color: #0f1215;
}
.dark-mode .global-planner-container .parent-planner .parent-block {
  border: 1px solid #ddd;
  background-image: linear-gradient(to bottom, #276e93 0, #0e2936 54%);
}
.dark-mode .global-planner-container .parent-planner .parent-block.active {
  background-color: var(--pills-tab-active);
}
.dark-mode .global-planner-container .parent-planner .parent-block.active .parent-label,
.dark-mode .global-planner-container .parent-planner .parent-block.active .parent-detail,
.dark-mode .global-planner-container .parent-planner .parent-block.active .parent-title,
.dark-mode .global-planner-container .parent-planner .parent-block.active .parent-dates,
.dark-mode .global-planner-container .parent-planner .parent-block.active h4 {
  color: var(--snow-white) !important;
}
.dark-mode .global-planner-container .parent-planner .parent-block:hover {
  background-color: var(--pills-tab-hover);
}
.dark-mode .global-planner-container .parent-planner .parent-block:hover.active {
  background-color: var(--pills-tab-active-hover);
}
.dark-mode .global-planner-container .parent-planner .parent-block .parent-summary-row {
  border-bottom: 1px solid #e6e6e6;
}
.dark-mode .global-planner-container .parent-planner .parent-block .parent-summary-row .parent-label .parent-title {
  color: #f9f9f9;
}
.dark-mode .global-planner-container .parent-planner .parent-block .parent-summary-row .parent-label .parent-dates {
  color: #f9f9f9;
}
.dark-mode .global-planner-container .parent-planner .parent-block .parent-summary-row .parent-label .parent-age {
  color: #e6e6e6;
}
.dark-mode .global-planner-container .parent-planner .parent-block .parent-summary-row .parent-detail h4 {
  color: #f9f9f9;
}
.dark-mode .global-planner-container .parent-planner .parent-block .parent-summary-row .parent-detail.narrow {
  color: var(--title-color);
}
.dark-mode .global-planner-container .parent-planner .parent-block .parent-summary-row .parent-detail.wide {
  color: var(--title-color);
}
.dark-mode .global-planner-container .parent-planner .parent-block .parent-summary-row .parent-detail.wide.level-up div a {
  outline: 1px solid #47a0ce;
  background-color: rgba(20, 56, 74, 0.72);
}
.dark-mode .global-planner-container .parent-planner .parent-block .parent-summary-row .parent-detail.wide.level-up div a:hover {
  background: var(--pills-tab-active-hover);
}
.dark-mode .global-planner-container .parent-planner .parent-block .parent-summary-row .parent-detail.wide.level-up div a:hover i {
  color: white;
}
.dark-mode .global-planner-container .parent-planner .parent-block .parent-summary-row .parent-detail.wide.level-up div a i {
  color: #f9f9f9;
}
.dark-mode .global-planner-container .parent-planner .parent-block .child-row {
  background-color: var(--background-color);
}
.dark-mode .global-planner-container .parent-planner .parent-block .child-row .child-container .child-block {
  outline: 1px solid #0f1215;
  background-color: rgba(20, 56, 74, 0.72);
}
.dark-mode .global-planner-container .parent-planner .parent-block .child-row .child-container .child-block:hover {
  background-color: #276e93;
}
.dark-mode .global-planner-container .parent-planner .parent-block .child-row .child-container .child-block.current {
  background: linear-gradient(to bottom, #276e93 0, #0e2936 100%);
  outline: 2px solid #f9f9f9;
}
.dark-mode .global-planner-container .parent-planner .parent-block .child-row .child-container .child-block.current.active {
  outline: 2px solid #f9f9f9;
}
.dark-mode .global-planner-container .parent-planner .parent-block .child-row .child-container .child-block.active {
  background: linear-gradient(to bottom, #276e93 0, #0e2936 100%) !important;
  outline: 1px solid #276e93;
}
.dark-mode .global-planner-container .parent-planner .parent-block .child-row .child-container .child-block.active .child-name,
.dark-mode .global-planner-container .parent-planner .parent-block .child-row .child-container .child-block.active .child-dates {
  color: var(--snow-white) !important;
}
.dark-mode .global-planner-container .parent-planner .parent-block .child-row .child-container .child-block .child-name {
  color: #f9f9f9;
}
.dark-mode .global-planner-container .parent-planner .parent-block .child-row .child-container .child-block .child-dates {
  color: #f9f9f9;
}
.dark-mode #hourly-slots {
  outline: none;
  background-image: linear-gradient(to bottom, #276e93 0, #0e2936 54%);
}
.dark-mode #hourly-slots .time-slot {
  color: #f9f9f9;
  background-color: #0e2936;
  outline: 1px solid #0f1215;
}
.dark-mode #hourly-slots .time-slot:hover {
  background-color: #276e93;
}
.dark-mode #hourly-slots .time-slot:hover.active {
  background-color: var(--pills-tab-active-hover);
}
.dark-mode #hourly-slots .time-slot.current {
  background: linear-gradient(to bottom, #276e93 0, #0e2936 100%);
  border: 2px solid #f9f9f9;
}
.dark-mode #hourly-slots .time-slot.active {
  background: linear-gradient(to bottom, #276e93 0, #0e2936 100%);
  color: #f9f9f9;
}
.dark-mode .numerology-container ul.nav-pills li a p.active {
  border: 1px solid #eeeeee;
  background-color: #0e2936;
}
.dark-mode .numerology-card {
  background: linear-gradient(to bottom, var(--panel-header-top) 0%, var(--panel-header-bottom) 100%);
  border: 1px solid #e6e6e6;
}
.dark-mode .numerology-card .summary {
  color: #f9f9f9;
}
.dark-mode .numerology-card .description {
  color: #f9f9f9;
}
.dark-mode .numerology-planner-container {
  background: #0e2936;
}
.dark-mode .numerology-planner-item-container.current {
  outline: 1px solid #d9d9d9;
}
.dark-mode .numerology-planner-item-container.selected {
  background: var(--pills-tab-active);
  outline: 1px solid #0074E4;
}
.dark-mode .numerology-planner-item-container:hover {
  background: var(--pills-tab-hover) !important;
}
.dark-mode .numerology-planner-item-container:hover.selected {
  outline: 1px solid #f9f9f9;
}
.dark-mode #tagFilters button {
  background: #14384a;
  color: #f9f9f9;
  text-shadow: none;
}
.dark-mode #blogGrid .panel-body h4 > a,
.dark-mode #blogGrid .panel-body p > a {
  color: #f9f9f9;
}
.dark-mode #blogGrid img.img-thumbnail {
  padding: 1px;
}
.dark-mode table.dataTable {
  border-collapse: separate !important;
  border-spacing: 0 !important;
  overflow: hidden;
  background: var(--well-color);
}
.dark-mode table.dataTable thead {
  background: linear-gradient(to bottom, var(--panel-header-top) 0%, var(--panel-header-bottom) 100%);
  border: none;
  border-top-left-radius: 7px !important;
  border-top-right-radius: 7px !important;
  color: #f9f9f9;
}
.dark-mode table.dataTable thead th {
  border-right: none;
  border-bottom: 1px solid #aaaaaa;
}
.dark-mode table.dataTable tbody tr.even {
  background: rgba(20, 56, 74, 0.72);
}
.dark-mode table.dataTable tbody tr.odd {
  background: rgba(20, 56, 74, 0.11);
}
.dark-mode table.dataTable tbody tr td {
  color: #f9f9f9;
  border-right: 1px solid #0f1215;
  border-bottom: none;
  border-top: 1px solid #444444;
}
.dark-mode table.dataTable tbody tr:hover {
  background: #14384a !important;
}
.dark-mode .dataTables_paginate ul.pagination a {
  background: linear-gradient(to bottom, var(--panel-header-top) 0%, var(--panel-header-bottom) 100%);
  color: #f9f9f9;
}
.dark-mode .dataTables_paginate ul.pagination li {
  transition: all 0.5s ease;
}
.dark-mode .dataTables_paginate ul.pagination li.active a {
  border-top-color: #dddddd;
  border-bottom-color: #dddddd;
}
.dark-mode .dataTables_paginate ul.pagination li:not(.disabled) a:hover {
  background: #14384a;
}
.dark-mode .article-container article .well {
  background: var(--well-color) !important;
}
.dark-mode .article-container article h1 {
  color: #f9f9f9;
}
.dark-mode .article-container article h1 strong {
  color: #f9f9f9;
}
.dark-mode .article-container article .comment-section .comment-actions .like-summary {
  color: #d9d9d9;
}
.dark-mode .article-container article #comment-form .text-muted {
  color: #aaaaaa !important;
}
.dark-mode .article-container article .comment {
  background: linear-gradient(to bottom, var(--panel-header-top) 0%, var(--panel-header-bottom) 100%);
  border: 1px solid #f9f9f9;
}
.dark-mode .article-container article .comment .comment-body .comment-meta {
  color: #aaaaaa;
}
.dark-mode .article-container article .comment .comment-body .text-muted {
  color: #aaaaaa;
}
.dark-mode .article-container article .comment .comment-body .like-summary {
  color: #d9d9d9;
}
.dark-mode .article-container article .comment .comment-body p,
.dark-mode .article-container article .comment .comment-body span {
  color: #f9f9f9 !important;
}
.dark-mode .article-container article .comment .comment-body p i,
.dark-mode .article-container article .comment .comment-body span i {
  color: #f9f9f9;
}
.dark-mode .article-container article .comment .comment-body p i.fa-heart,
.dark-mode .article-container article .comment .comment-body span i.fa-heart {
  color: #f44336;
}
.dark-mode .article-container article .comment .comment-body p i.fa-trash,
.dark-mode .article-container article .comment .comment-body span i.fa-trash {
  color: #a94442;
}
.dark-mode .article-container article .comment .comment-body p i.fa-pencil,
.dark-mode .article-container article .comment .comment-body span i.fa-pencil {
  color: #f0f8ff;
}
.dark-mode .article-container article .fa-heart {
  color: #f44336;
}
.dark-mode #calendar {
  color: var(--text-color);
  background: var(--well-color);
  outline: 1px solid var(--border-color);
}
.dark-mode #calendar .calendar-header-wrapper {
  background: linear-gradient(to bottom, var(--panel-header-top) 0%, var(--panel-header-bottom) 100%);
}
.dark-mode #calendar .calendar-header-wrapper .nav-btn {
  border: 1px solid #276e93;
  background: #1e5875;
}
.dark-mode #calendar .calendar-header-wrapper .nav-btn .glyphicon {
  color: var(--text-color);
}
.dark-mode #calendar .calendar-header-wrapper .nav-btn:hover {
  background: #47a0ce;
  border: 1px solid #1e5875;
}
.dark-mode #calendar .calendar-header {
  background: linear-gradient(to bottom, var(--panel-header-top) 0%, var(--panel-header-bottom) 100%);
  border-top: 2px solid #aaaaaa;
  border-bottom: 2px solid #aaaaaa;
}
.dark-mode #calendar .calendar-header .day-headers .day-header {
  border-left: 1px solid var(--border-color);
}
.dark-mode #calendar .calendar-header .day-headers .day-date {
  color: #f9f9f9;
}
.dark-mode #calendar .calendar-body .time-column {
  background: rgba(20, 56, 74, 0.11);
}
.dark-mode #calendar .calendar-body .time-column .time-cell {
  border-top: 1px solid #aaaaaa;
  color: #f9f9f9;
}
.dark-mode #calendar .calendar-body .day-columns .day-column {
  border-left: 1px solid #aaaaaa;
}
.dark-mode #calendar .calendar-body .day-columns .day-column .slot {
  border-bottom: 1px solid #aaaaaa;
}
.dark-mode #calendar .calendar-body .day-columns .day-column .slot:hover {
  background: #14384a;
}
.dark-mode #calendar .event-block {
  color: var(--snow-white);
}
.dark-mode .event-menu {
  background: #1e5875;
  border: 1px solid var(--border-color);
}
.dark-mode .event-menu li:hover {
  color: var(--snow-white);
  background: var(--primary-blue);
}
.dark-mode .moderator-dashboard h4 {
  color: #f9f9f9;
}
.dark-mode .moderator-dashboard .moderator-card {
  background: linear-gradient(to bottom, var(--panel-header-top) 0%, var(--panel-header-bottom) 100%);
}
.dark-mode .moderator-dashboard .moderator-card .moderator-header div {
  color: #f9f9f9;
}
.dark-mode .moderator-dashboard .moderator-card .moderator-header div.timestamp {
  color: #aaaaaa;
}
.dark-mode .moderator-dashboard .moderator-card .moderator-header div strong {
  color: #f9f9f9;
}
.dark-mode .moderator-dashboard .moderator-card .moderator-body .comment-text {
  color: #f9f9f9;
}
.dark-mode .moderator-dashboard .moderator-card .moderator-footer .like-summary {
  color: #aaaaaa;
}
.dark-mode .alert-danger {
  background: #a94442;
}
.dark-mode #account-header ul.admin-menu ul.dropdown-menu li a:hover {
  border: 1px solid #dddddd;
  background: rgba(20, 56, 74, 0.72) !important;
  text-shadow: none !important;
  color: #ffffff !important;
}
.dark-mode .testimonial-box {
  background: #276e93;
  color: #f9f9f9;
}
.dark-mode .testimonial-box p.testimonial-text {
  color: #f9f9f9;
}
.dark-mode .sr-input.sr-card-element {
  background: #0f1215;
  border: 1px solid #f9f9f9;
  border-radius: 4px;
}
.dark-mode div.security-info {
  background: #1e5875 !important;
}
.dark-mode .powered-by-stripe {
  background-image: url('https://link.storjshare.io/raw/jxneumevusbsv3gkpge55qqdq44a/cdn-media/Images/shared/powered-by-stripe-cards-dark.png');
}
.dark-mode .why-upgrade-container ul li em {
  color: #bbb;
}
.dark-mode .membership-option-container {
  background: var(---background-color);
}
.dark-mode .membership-option-container .membership-option-title {
  background: linear-gradient(to bottom, var(--panel-header-top) 0%, var(--panel-header-bottom) 100%);
}
.dark-mode .membership-option-container .membership-option {
  background: rgba(20, 56, 74, 0.11);
}
.dark-mode .membership-option-container .membership-option .membership-footer {
  background: rgba(20, 56, 74, 0.72);
}
.dark-mode .membership-option-container .membership-option .membership-footer .membership-valid-until-container {
  color: #aaaaaa;
}
.dark-mode img[alt="selected"] {
  filter: invert(100%) !important;
}
.dark-mode .custom-uploader .btn-upload-trigger {
  background: #276e93;
  border-color: #f9f9f9;
  color: #f9f9f9;
  font-weight: normal;
  text-shadow: none;
}
.dark-mode .custom-uploader .btn-upload-trigger:hover {
  background: #14384a;
}
.dark-mode #imageList .image-group-header {
  background: rgba(71, 160, 206, 0.72);
  border: #aaaaaa;
  color: #f9f9f9;
}
.dark-mode #imageList .image-list-item:hover {
  background: rgba(20, 56, 74, 0.72);
}
.dark-mode #imageList .image-list-item.selected {
  background: rgba(71, 160, 206, 0.4);
}
.dark-mode #imageList .image-actions i {
  color: #f9f9f9;
}
.dark-mode .nav-tabs li a {
  color: #f9f9f9;
  border: 1px solid #f9f9f9;
}
.dark-mode .nav-tabs li a:focus {
  background: #47a0ce;
}
.dark-mode .nav-tabs li.active a {
  color: #f9f9f9;
  border: 1px solid #f9f9f9;
}
.dark-mode .nav-tabs li.active a:focus {
  background: #47a0ce;
}
.dark-mode .dataTables_processing {
  color: #f9f9f9;
}
@media (max-width: 767px) {
  .alphaBackground {
    background: none !important;
  }
}