:root {
  --primary-blue: #337ab7;
  --vibrant-green: #22BB44;
  --vibrant-green-10: #36da5a;
  --vibrant-green-30: rgba(34, 187, 68, 0.3);
  --vibrant-green-40: rgba(34, 187, 68, 0.4);
  --vibrant-red: #f44336;
  --vibrant-orange: #FF9800;
  --error-red: #cc0000;
  --snow-white: #ffffff;
  --charcoal-black: #0f1215;
  --border-grey: #dddddd;
  --light-grey: #888888;
  --background-color: #ffffff;
  --surface-color: #eeeeee;
  --text-color: #444444;
  --hover-text-color: #515151;
  --border-color: #dddddd;
  --well-color: linear-gradient(to bottom, #f9f9f9 0, #fdfdfd 100%);
  --panel-header-top: #f7fbff;
  --panel-header-bottom: #f0f8ff;
  --panel-header-text-color: #444444;
  --title-color: #0a4070;
  --subtitle-color: #337ab7;
  --page-background: #ffffff;
  --page-title-color: #331a00;
  --pills-tab-text-color: #0a4070;
  --pills-tab-hover: #ffffff;
  --pills-tab-active: #ffffff;
  --pills-tab-active-hover: #ffffff;
  --pills-tab-background: transparent;
}
.dark-mode {
  --primary-blue: #63a0d4;
  --vibrant-green: #36da5a;
  --vibrant-green-10: #61e27e;
  --vibrant-green-30: rgba(34, 187, 68, 0.3);
  --vibrant-green-40: rgba(34, 187, 68, 0.4);
  --vibrant-red: #f8877f;
  --vibrant-orange: #ffb74d;
  --error-red: #ff1a1a;
  --snow-white: #ffffff;
  --charcoal-black: #2f3842;
  --border-grey: #ffffff;
  --light-grey: #aeaeae;
  --background-color: #0f1215;
  --surface-color: #444444;
  --text-color: #f9f9f9;
  --hover-text-color: #ffffff;
  --border-color: #ffffff;
  --well-color: #091a22;
  --panel-header-top: #246587;
  --panel-header-bottom: #0f2c3a;
  --panel-header-text-color: #f9f9f9;
  --title-color: #e7e7e7;
  --subtitle-color: #f9f9f9;
  --page-background: rgba(20, 56, 74, 0.72);
  --page-title-color: #f9f9f9;
  --pills-tab-text-color: #f9f9f9;
  --pills-tab-hover: linear-gradient(to bottom, #1e5875 0, rgba(20, 56, 74, 0.11) 100%);
  --pills-tab-active: linear-gradient(to bottom, #276e93 0, rgba(20, 56, 74, 0.11) 100%);
  --pills-tab-active-hover: #47a0ce;
}
@media (max-width: 767px) {
  .mobile-only {
    display: block !important;
  }
  .device-only {
    display: block !important;
  }
  .desktop-only {
    display: none;
  }
  h1 strong {
    font-weight: 300 !important;
  }
  h4,
  artcile h4 {
    font-size: 1.3em !important;
  }
  h3,
  artcile h3,
  .ninestar-summary-container h3 {
    font-size: 1.1em !important;
  }
  .padding-left-20-desktop {
    padding-left: 0 !important;
  }
  .panel-margin-top-20 {
    margin-top: 20px;
  }
  form .well div .col-sm-6:first-of-type,
  .well form div .col-sm-6:first-of-type {
    padding: 0 !important;
  }
  form .well div .col-sm-6:last-of-type,
  .well form div .col-sm-6:last-of-type {
    padding: 0;
  }
  .well {
    margin: 0 !important;
    padding: 9px;
  }
  form .well {
    margin-bottom: 20px !important;
  }
  .container,
  .container-fluid {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
  div.inline-form,
  form {
    width: 100% !important;
  }
  .panel-body .table-responsive {
    width: auto !important;
  }
  .panel-body .nav-pills > li + li {
    margin-left: 0 !important;
  }
  .page {
    background: none;
    margin: 0;
    padding: 0;
  }
  .page .page-header {
    padding-bottom: 4px;
    padding-top: 35px;
  }
  .page .page-header h1,
  .page .page-header h2 {
    font-size: 27px !important;
  }
  .page .page-header h1,
  .page .page-header h2,
  .page .page-header h4 {
    width: 100%;
  }
  .page h1 {
    text-align: center;
    color: #f9f9f9;
  }
  .page .article-container h1 {
    color: #444444 !important;
  }
  .page .panel-heading {
    padding: 9px !important;
  }
  .page .panel-heading h4 {
    text-align: center;
  }
  .page .panel-body {
    padding: 9px !important;
  }
  .page .panel-body h4 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .page .panel-body .table-responsive {
    margin-left: 0;
    margin-right: 0;
  }
  .form-option.hint,
  .hint {
    font-size: 0.8em !important;
  }
  .energy-summary-container .row div.col-sm-4 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .directions-chart-table {
    border: none !important;
    outline: 1px solid var(--border-grey) !important;
  }
  .directions-chart-table th {
    background: var(--primary-blue);
    color: white;
  }
  .magic-square-display {
    position: relative;
    padding: 11px;
    margin-left: auto;
    margin-right: auto;
  }
  .magic-square-display .margin-3 {
    margin: 0 !important;
  }
  .magic-square-display .magic-square {
    margin-top: 5px;
  }
  .magic-square-display .directions-line-overlay {
    transform: scale(1.03);
  }
  .directions-summary {
    position: relative;
    max-width: 45%;
    padding: 22px;
    margin: 0 22px;
    margin-left: auto;
    margin-right: auto;
  }
  .directions-summary .status-circle i {
    font-size: 2em;
  }
  .directions-summary .directions-line-overlay {
    transform: scale(0.81);
  }
  .directions-more-info-container .table-responsive {
    outline: none;
  }
  .guidance-text {
    width: 100%;
    white-space: normal;
    word-break: break-word;
  }
  .numerology-card {
    margin: 0;
  }
  .articles-searchbox-container .form-group {
    margin-bottom: 0;
  }
  .tags-container {
    padding-bottom: 0 !important;
  }
  #tagFilters {
    outline: 1px solid var(--border-grey);
    border-radius: 3px;
    -webkit-box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.1);
    padding: 5px;
  }
  .blog-grid {
    margin: 9px;
    margin-top: 0;
  }
  #account-header ul.admin-menu {
    margin-left: 0 !important;
  }
  #account-header ul.admin-menu > li a {
    padding-left: 7px;
  }
  #account-header ul#admin-menu-items > li a {
    padding-left: 21px;
  }
}
@media (min-width: 766px) {
  .device-only {
    display: none;
  }
}