:root {
  --primary-blue: #337ab7;
  --vibrant-green: #22BB44;
  --vibrant-green-10: #36da5a;
  --vibrant-green-30: rgba(34, 187, 68, 0.3);
  --vibrant-green-40: rgba(34, 187, 68, 0.4);
  --vibrant-red: #f44336;
  --vibrant-orange: #FF9800;
  --error-red: #cc0000;
  --snow-white: #ffffff;
  --charcoal-black: #0f1215;
  --border-grey: #dddddd;
  --light-grey: #888888;
  --background-color: #ffffff;
  --background-color-hover: #f2f2f2;
  --surface-color: #eeeeee;
  --text-color: #444444;
  --hover-text-color: #515151;
  --border-color: #dddddd;
  --well-color: linear-gradient(to bottom, #f9f9f9 0, #fdfdfd 100%);
  --panel-header-top: #f7fbff;
  --panel-header-bottom: #f0f8ff;
  --panel-header-text-color: #444444;
  --title-color: #0a4070;
  --subtitle-color: #337ab7;
  --page-background: #ffffff;
  --page-title-color: #331a00;
  --pills-tab-text-color: #0a4070;
  --pills-tab-hover: #ffffff;
  --pills-tab-active: linear-gradient(to bottom, #ffffff 0, #f9f9f9 100%);
  --pills-tab-active-hover: #ffffff;
  --pills-tab-background: transparent;
  --table-background-color: #f0f8ff;
  --table-background: linear-gradient(to bottom, #f7fbff 0%, #f0f8ff 100%);
  --table-border-color: transparent;
  --nav-pills-button-background: #d9d9d9;
  --readmore-overlay-background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 22%, #ffffff 81%);
  --ninestar-summary-container-hover: #ffffff;
  --body-background: #ffffff;
  --page-overlay-color: rgba(0, 0, 0, 0.3);
  --page-fadein-color: #ffffff;
}
.dark-mode {
  --primary-blue: #63a0d4;
  --vibrant-green: #36da5a;
  --vibrant-green-10: #61e27e;
  --vibrant-green-30: rgba(34, 187, 68, 0.3);
  --vibrant-green-40: rgba(34, 187, 68, 0.4);
  --vibrant-red: #f8877f;
  --vibrant-orange: #ffb74d;
  --error-red: #ff1a1a;
  --snow-white: #ffffff;
  --charcoal-black: #2f3842;
  --border-grey: #ffffff;
  --light-grey: #aeaeae;
  --background-color: #0f1215;
  --background-color-hover: #2f3842;
  --surface-color: #444444;
  --text-color: #f9f9f9;
  --hover-text-color: #ffffff;
  --border-color: #ffffff;
  --well-color: #091a22;
  --panel-header-top: #246587;
  --panel-header-bottom: #0f2c3a;
  --panel-header-text-color: #f9f9f9;
  --title-color: #e7e7e7;
  --subtitle-color: #f9f9f9;
  --page-background: rgba(20, 56, 74, 0.72);
  --page-title-color: #f9f9f9;
  --pills-tab-text-color: #f9f9f9;
  --pills-tab-hover: linear-gradient(to bottom, #1e5875 0, rgba(20, 56, 74, 0.11) 100%);
  --pills-tab-active: linear-gradient(to bottom, #276e93 0, rgba(20, 56, 74, 0.11) 100%);
  --pills-tab-active-hover: #47a0ce;
  --pills-tab-background: rgba(20, 56, 74, 0.11);
  --table-background-color: rgba(20, 56, 74, 0.72);
  --table-background: linear-gradient(to bottom, rgba(20, 56, 74, 0.33) 0%, rgba(20, 56, 74, 0.11) 100%);
  --table-border-color: #f9f9f9;
  --nav-pills-button-background: #1e5875;
  --readmore-overlay-background: linear-gradient(to bottom, rgba(20, 56, 74, 0) 22%, #14384a 81%);
  --ninestar-summary-container-hover: #14384a;
  --body-background: #14384a;
  --page-overlay-color: rgba(0, 0, 0, 0.3);
  --page-fadein-color: #ffffff;
}
/*@images-path: "../../../Images";*/
@font-face {
  font-family: 'candara';
  font-style: normal;
  src: url('../fonts/candara.ttf') format('truetype');
}
.background-stars {
  background: url('https://link.storjshare.io/raw/jxneumevusbsv3gkpge55qqdq44a/cdn-media/Images/background/yin-yang.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}
.background-fixed {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
  z-index: -10;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  /* Keep the video in the background */
}
.background-video video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.flag-item {
  width: 30px;
}
.well {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1) !important;
  border-radius: 7px;
  opacity: 1 !important;
  background-color: #ffffff;
  background-image: linear-gradient(to bottom, #f9f9f9 0, #fdfdfd 100%);
}
.well h4:first-of-type {
  font-weight: bold;
  font-size: 1.5em;
}
.btn {
  margin-bottom: 4px;
}
.page {
  margin: 3em auto;
  padding: 30px 30px 10px 30px;
  width: auto;
  max-width: 1180px;
  border: none;
}
.mainContent {
  position: relative;
  width: 100%;
}
.roundCorners {
  border-radius: 6px;
}
.alphaBackground {
  background: #ffffff;
  background: rgba(255, 255, 255, 0.9);
  filter: alpha(opacity=90);
}
.shadow {
  -webkit-box-shadow: 0 0 64px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 64px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 64px rgba(0, 0, 0, 0.5);
}
.shadow-light {
  -webkit-box-shadow: 0 0 24px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 24px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.2);
}
a.btn {
  color: var(--snow-white) !important;
  text-decoration: none !important;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
a#toTop {
  display: block;
  width: 100%;
  background: #020202;
  text-align: center;
  color: white;
  -webkit-transition: all 1.5s ease-out;
  -moz-transition: all 1.5s ease-out;
  transition: all 1.5s ease-out;
}
a#toTop:hover {
  color: var(--vibrant-orange);
}
.hidden-date-field {
  opacity: 0;
  height: 0;
  position: absolute;
}
.seo {
  font-size: 0.3em;
  position: fixed;
  left: -15000px;
  top: -20000px;
  width: 1px;
  height: 2px;
}
.main-content {
  margin: 0;
  padding: 0;
  width: 100%;
  margin-bottom: 20px;
}
.inline-form {
  display: inline-block;
}
.inline-form form {
  display: inline-block;
}
li.divider {
  height: 1px !important;
  margin: 9px 0 !important;
  overflow: hidden !important;
  background-color: #a5a5a5 !important;
}
.display-warning {
  font-style: italic;
}
h2.alert-message {
  font-size: 1.45em;
}
.small-print label {
  font-size: 0.9em;
  line-height: 1.33em;
  color: #666666;
}
h5.form-subtitle {
  font-size: 1.21em;
}
.ripple {
  position: relative;
  overflow: hidden;
}
.ripple .ripple-effect {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.1);
  transform: scale(0);
  animation: ripple-effect 0.6s ease-out;
  pointer-events: none;
  z-index: 1;
}
@keyframes ripple-effect {
  to {
    transform: scale(3);
    opacity: 0;
  }
}
.gpt-image {
  padding: 11px;
  background: #f9f9f9;
  border-radius: 7px;
}