@media (max-width: 1080px) {
  #bs-navbar-collapse-1 {
    font-size: 0.8em;
  }
  .nav-justified {
    display: block !important;
    text-align: left !important;
  }
  .nav-justified > li {
    display: inline-block !important;
    float: none !important;
    width: auto !important;
  }
}
@media (min-width: 1081px) {
  .nav-tabs.nav-justified {
    display: flex !important;
    flex-direction: row !important;
    justify-content: flex-start !important;
    width: auto !important;
  }
  .nav-tabs.nav-justified > li {
    display: inline-block !important;
    float: left !important;
    width: auto !important;
    text-align: left !important;
  }
  .nav-tabs.nav-justified > li > a {
    width: auto !important;
  }
}