@media (max-width: 767px) {
  .mobile-only {
    display: block !important;
  }
  .device-only {
    display: block !important;
  }
  .desktop-only {
    display: none;
  }
  .padding-left-20-desktop {
    padding-left: 0 !important;
  }
  .panel-margin-top-20 {
    margin-top: 20px;
  }
  form .well div .col-sm-6:first-of-type,
  .well form div .col-sm-6:first-of-type {
    padding: 0 !important;
  }
  form .well div .col-sm-6:last-of-type,
  .well form div .col-sm-6:last-of-type {
    padding: 0;
  }
  .well {
    margin: 0 !important;
    padding: 11px;
  }
  form .well {
    margin-bottom: 20px !important;
  }
  .container,
  .container-fluid {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
  div.inline-form,
  form {
    width: 100% !important;
  }
  .panel-body .table-responsive {
    width: auto !important;
  }
  .panel-body .nav-pills > li + li {
    margin-left: 0 !important;
  }
  .page {
    background: none;
    margin: 0;
    padding: 0;
  }
  .page .page-header {
    padding-bottom: 11px;
    padding-top: 33px;
  }
  .page .page-header h1,
  .page .page-header h2 {
    font-size: 28px !important;
  }
  .page .page-header h1,
  .page .page-header h2,
  .page .page-header h4 {
    width: 100%;
  }
  .page h1 {
    text-align: center;
    color: white;
  }
  .page .panel-heading {
    padding: 11px !important;
  }
  .page .panel-heading h4 {
    text-align: center;
  }
  .page .panel-body {
    padding: 11px !important;
  }
  .page .panel-body h4 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .page .panel-body .table-responsive {
    margin-left: 0;
    margin-right: 0;
  }
  .form-option.hint,
  .hint {
    font-size: 0.8em !important;
  }
}
@media (min-width: 766px) {
  .device-only {
    display: none;
  }
}