@import "../config/colours.less";

#ninestarki-cycles .panel-default {
    margin-top: 0;
}

.bookmark {
    position: relative;
    top: -180px;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0rem;
    padding: 7px;
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    font-size: 0.9rem;
}

.calendar-header {
    text-align: center;
    font-weight: 600;
    color: #666;
}

.calendar-day {
    outline: 1px solid #e0e0e0;
    padding: 0;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: background-color 0.2s;
    cursor: pointer;

    &:hover {
        box-shadow: 0 6px 16px rgba(0,0,0,0.1);
        background-color: @whisper-white;
        transform: scale(1.05);
        transform: translateY(-2px);
        position: relative;
        z-index: 3 !important;
    }

    .date-label {
        width: 100%;
        font-size: 0.81rem;
        color: #999;
        font-weight: 500;
        text-align: center !important;
    }

    .custom-content {
        margin-top: 0.25rem;
        width: 100%;
        color: #444;
    }

    img {
        max-width: 72px;
        padding-left: 2px;
    }

    &.selected {
        background-color: @primary-blue;
        box-shadow: 0 6px 16px rgba(0,0,0,0.5);
        transform: scale(1.05) !important;
        transform: translateY(-1px);
        position: relative;
        z-index: 3 !important;
        border-radius: 0px;

        div {
            color: @snow-white;
        }
    }
}

.empty-cell {
    visibility: hidden;
}

.form-options {
    input {
        display: inline-block;
    }

    label {
        vertical-align: top;
    }

    .hint {
        font-size: 0.81em;
        color: @medium-grey;
        margin: 0;
        margin-top: -5px;
        margin-bottom: 7px;
    }
}

.global-planner-container {
    height: 418px !important;
    max-height: 418px;
    overflow-y: scroll;

    .year-planner {
        display: flex;
        flex-direction: column;
        gap: 0.4rem;
        padding: 0;

        .year-block {
            border: 1px solid #ddd;
            border-radius: 1rem;
            border-bottom: none;
            overflow: hidden;
            box-shadow: 0 4px 12px rgba(0,0,0,0.05);
            transition: box-shadow 0.3s;
            background-color: @whisper-white;
            cursor: pointer !important;

            &.active {
                background-color: @primary-blue;

                .year-label, .year-detail, .year-number, .year-dates, h4 {
                    color: @snow-white !important;
                }
            }

            &:hover {
                box-shadow: 0 6px 16px rgba(0,0,0,0.1);
                background-color: @mist-grey;

                &.active {
                    background-color: @primary-blue;
                }
            }

            .year-summary-row {
                display: flex;
                align-items: center;
                padding: 1rem;
                border-bottom: 1px solid @mist-grey;

                .year-label {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    min-width: 90px;

                    .year-number {
                        font-size: 1.75rem;
                        font-weight: 700;
                        color: @primary-blue;
                        line-height: 1.2;
                        margin-right: 11px;
                    }

                    .year-dates {
                        font-size: 0.9rem;
                        color: @light-grey;
                        margin-top: 0.25rem;
                    }
                }

                .year-detail {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    min-width: 90px;

                    &.narrow {
                        flex: 0 0 150px;
                        color: @beautiful-grey;
                        font-weight: 500;

                        img {
                            height: 100%;
                            object-fit: cover;
                            border-radius: 0.25rem;
                            max-width: 90px;
                        }
                    }

                    &.wide {
                        flex: 1;
                        color: @deep-grey;
                        font-size: 0.9rem;
                    }
                }
            }

            .month-row {
                padding: 0;
                border: none;
                background-color: @snow-white;

                .month-container {

                    .month-block {
                        outline: 1px solid #eee;
                        padding: 0.5rem;
                        text-align: center;
                        transition: background-color 0.2s, transform 0.2s;
                        cursor: pointer;
                        background-color: @almost-white;
                        width: 100%;

                        &:hover {
                            box-shadow: 0 6px 16px rgba(0,0,0,0.1);
                            background-color: @whisper-white;
                            transform: scale(1.05);
                            transform: translateY(-2px);
                            position: relative;
                            z-index: 3 !important;
                        }

                        &.active {
                            box-shadow: 0 6px 16px rgba(0,0,0,0.3);
                            background-color: @primary-blue;
                            transform: scale(1.05);
                            transform: translateY(-1x);
                            position: relative;
                            z-index: 2 !important;
                            border-radius: 7px;


                            .month-name, .month-dates {
                                color: @snow-white !important;
                            }
                        }

                        .month-name {
                            font-weight: bold;
                            font-size: 0.9rem;
                            margin-bottom: 0.25rem;
                        }

                        .month-dates {
                            font-size: 0.75rem;
                            color: #777;
                            margin-bottom: 0.5rem;
                        }

                        img {
                            height: 100%;
                            object-fit: cover;
                            border-radius: 0.25rem;
                        }
                    }
                }
            }
        }
    }
}
