@import "../config/colours.less";
@import '../config/paths.less';

h5 {
    margin-top: 0;
}

.powered-by-stripe {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    padding: 11px;
    border-radius: 5px;
    background-image: url('@{images-path}/shared/powered-by-stripe-cards.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: contain;
    margin-bottom: 10px;
}

.security-info {
    font-size: 0.8em !important;

    p {
        font-size: 1em !important;
        margin-top: 22px;
    }
}

.secure-note {
    padding: 10px 15px;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 0.95rem;
    color: var(--text-color);

    i {
        margin-right: 6px;
        color: var(--text-color);
    }

    border: 1px solid var(--table-border-color);
    border-radius: 4px;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.05);
    line-height: 1.4;
}
