@using K9.WebApplication.Enums
@using K9.WebApplication.Helpers
@using K9.WebApplication.Options
@model K9.WebApplication.Models.BioRhythmsModel

<h4 class="text-center bold" style="font-size: 1.3em;">@Dictionary.DisplayingDataFor @Model.SelectedDate.Value.ToLongDateString()</h4>

