<!DOCTYPE html>
<html lang="en">

<head>
    <title>{Title}</title>
</head>

<style type="text/css">
    html
    {
        margin: 0;
        padding: 0;
        font-family: "Segoe UI" , Verdana, Helvetica, Sans-Serif;
        font-size: 100%;
        text-rendering: optimizeLegibility !important;
        -webkit-font-smoothing: antialiased !important;
        margin: 0; 
        color: #333;
    }
</style>

<body>
    <p class="text">Cher {FirstName},</p>
    <p class="text">Nous avons bien reçu votre mail. Un membre de notre équipe vous contactera dans les plus brefs délais.</p>
    <p class="text">Bien cordialement,</p>
    <p class="text">{From}</p>
    <img alt="{Company}" src="{ImageUrl}" />
</body>
</html>
