@using K9.SharedLibrary.Helpers
@using K9.WebApplication.Config
@using K9.WebApplication.Enums
@using K9.WebApplication.Helpers
@using K9.WebApplication.Models
@using K9.WebApplication.Options
@model List<NineStarKiEnergy>

@{
    var energyType = Model?.FirstOrDefault()?.EnergyType ?? ENineStarKiEnergyType.MainEnergy;
    var mainEnergyText = Dictionary.main_energies_short_description;
    var characterEnergyText = Dictionary.character_energies_short_description;
}

<div class="energies-summary">
    @if (energyType == ENineStarKiEnergyType.CharacterEnergy)
    {
        @MvcHtmlString.Create(characterEnergyText)
    }
    else
    {
        @MvcHtmlString.Create(mainEnergyText)
    }

    @if (Model != null && Model.Any())
    {
        foreach (var energy in Model)
        {
            var id = $"{energyType}{energy.EnergyName}";
            @Html.Panel(
                energy.EnergyTitle,
                Html.PayWallContent(ESection.KnowledgeBase, id, energy.EnergyDescription).ToString(),
                id, $"{DefaultValuesConfiguration.Instance.StorjBaseImagesPath}/ninestar/energies/{energy.EnergyLowerCase}.png",
                EPanelImageSize.Default,
                EPanelImageLayout.Contain)
        }
    }
</div>