@using K9.SharedLibrary.Extensions
@model K9.WebApplication.Models.ChakraCodeDetails

<a class="chakra-code-planner-item" data-forecast-type="@Model.Type" data-offset="@Model.Offset">
    <div class="chakra-code-container small">
        <img src="~/Images/chakracodes/@($"{Model.Name}.png")" />
    </div>
</a>