@using K9.SharedLibrary.Extensions
@using K9.WebApplication.Helpers
@model K9.WebApplication.Models.ChakraCodeDetails

<div class="chakra-code-card">
    <img src="~/Images/chakracodes/@($"{Model.Name}.png")" />
    @Html.Panel(Model.FullName, Html.Partial("_ChakraCodeDetails", Model).ToString())

    @if (Model.ShowDates)
    {
        <p class="text-center">@Model.StartDate.ToShortDateString() - @Model.EndDate.ToShortDateString()</p>
    }
</div>