@using K9.SharedLibrary.Extensions
@model K9.WebApplication.Models.ChakraCodeDetails

<div>
    <p>@Model.Description</p>
    <h5 class="margin-bottom-5">@Dictionary.Purpose</h5>
    <p>@Model.Purpose</p>
</div>