@using K9.WebApplication.Helpers
@model K9.WebApplication.Models.ChakraCodesModel

<div class="chakra-code-container">
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            @Html.Partial("_ChakraCode", Model.Dominant)
        </div>
    </div>
</div>
