@using K9.WebApplication.Helpers
@model K9.WebApplication.Models.ChakraCodesModel

<div class="chakra-code-container">
    <div class="row">
        <div class="col-xs-12">
            @Html.Partial("_ChakraCodesTimeline", Model)
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="col-xs-4">
                @Html.Partial("_ChakraCode", Model.SubDominant)
            </div>
            <div class="col-xs-4 padding-2">
                @Html.Partial("_ChakraCode", Model.Guide)
            </div>
            <div class="col-xs-4 padding-2">
                @Html.Partial("_ChakraCode", Model.Gift)
            </div>
        </div>
    </div>
</div>

