@using K9.WebApplication.Enums
@using K9.WebApplication.Helpers
@using K9.WebApplication.Models
@model K9.WebApplication.Models.ChakraCodesModel

<div class="well">
    <h2>Monthly Outlook</h2>
    <div class="row" id="daily-forecast-container">
        @foreach (var code in Model.DailyPlannerCodes)
        {
            <div class="col-xs-4 col-sm-3 col-md-2 month-chakra-code-container @code.IsCurrentCssClass">
                <div>
                    <strong>@code.StartDate.ToString("dd")</strong>
                </div>
                <p>
                    @Html.Partial("_ChakraCodeSmall", new ChakraCodeDetails
                    {
                        ChakraCode = code.ChakraCode,
                        Type = EForecastType.Daily,
                        Offset = code.Offset
                    })
                </p>
            </div>
        }
    </div>
    <div class="row margin-top-30">
        <div class="col-xs-12">
            @Html.CollapsiblePanel(Model.DailyForecast.Title, Model.DailyForecast.Forecast, true, "", "daily-forecast")
        </div>
    </div>
</div>