@using K9.SharedLibrary.Helpers
@using K9.WebApplication.Options
@model K9.WebApplication.ViewModels.ScheduleConsultationViewModel

@{
    ViewBag.Title = Dictionary.AvailableSlots;
    ViewBag.SubTitle = Dictionary.AvailableSlots;
    Layout = "../Shared/_LayoutFormMedium.cshtml";
}

<div class="container main-content">
    @Html.Partial("_ConsultationCalendar", Model)
</div>