<!DOCTYPE html>
<html lang="en">

<head>
    <title>{Title}</title>
</head>

<style type="text/css">
    html {
        margin: 0;
        padding: 0;
        font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
        font-size: 100%;
        text-rendering: optimizeLegibility !important;
        -webkit-font-smoothing: antialiased !important;
        margin: 0;
        color: #333;
    }
</style>

<body>
    <p class="text">Dear Team,</p>
    <p class="text">We have received a support query from {Customer} <a href="mailto:{CustomerEmail}?subject=Re: {Subject}&body=Customer Query: {Query}">{CustomerEmail}</a>.</p>
    <hr />
    <div class="text">{Query}</div>
    <hr />
    <p class="text">Lots of love! :-)</p>
    <img alt="{Company}" src="https://9starkiastrology.com/images/company/logo.png" />
</body>

</html>