.ninestar-summary-container {
    width: 100%;
}

    .ninestar-summary-container h3 {
        font-size: 1.1em;
        font-weight: bold;
        display: block;
        text-align: center;
        height: 20px;
        margin-bottom: 10px;
    }

    .ninestar-summary-container p {
        text-align: center !important;
        margin-bottom: 10px;
    }

.ninestar-summmary {
    width: 100%;
}

.child-profile .adult-profile {
    opacity: 0.3;
    filter: grayscale(100%);
}

.profile-warning {
    margin-top: 15px;
    color: #a94442;
}

    .profile-warning img {
        width: 16px;
        height: 16px;
        margin-bottom: 4px;
    }

.yearly-planner-container {
    max-height: 400px;
    overflow-y: scroll;
    font-size: 0.8em;
}

    .yearly-planner-container .row {
        border-bottom: 1px solid #eee;
        padding-bottom: 6px;
        border-radius: 8px;
    }

        .yearly-planner-container .row div {
            text-align: left;
        }

            .yearly-planner-container .row div img {
                height: 36px;
                margin-top: 20px;
            }

        .yearly-planner-container .row:hover {
            background: #eeeeee;
        }

        .yearly-planner-container .row.active {
            background: #333333;
            color: white !important;
        }

            .yearly-planner-container .row.active h3 {
                color: white !important;
            }

.cycles-summary h4:first-child, .cycles-summary .cycle-summary:first-of-type h3:first-child {
    margin-top: 0;
}

@media (max-width:576px) {
}
