.ninestar-summary-container {
    width: 100%;
}

    .ninestar-summary-container h3 {
        font-size: 1.1em;
        font-weight: bold;
        display: block;
        text-align: center;
        height: 20px;
        margin-bottom: 10px;
    }

    .ninestar-summary-container p {
        text-align: center !important;
        margin-bottom: 10px;
    }

.ninestar-summmary {
    width: 100%;
}

.child-profile .adult-profile {
    opacity: 0.3;
    filter: grayscale(100%);
}

.profile-warning {
    margin-top: 15px;
    color: #a94442;
}

    .profile-warning img {
        width: 16px;
        height: 16px;
        margin-bottom: 4px;
    }

    @media (max-width:580px) {
    }

@media (max-width:480px) {
}
