@media(max-width:1080px){
	.icon-left {
		float: none;
		margin: 0 auto 1em;
	}
	.icon-right {
		float: none;
		width: 100%;
		text-align: center;
	}
	.feedback-grids {
		margin: 2em auto 0;
		width: 80%;
	}
	.agile-footer-grid {
		width: 50%;
		margin: 0 0 2em 0;
	}
	.agile-footer-grid:nth-child(3),.agile-footer-grid:nth-child(4){
		margin:0;
	}
	.agileits-caption {
		padding: .5em;
		height: 144px;
	}
	.icon-box {
		padding: 8px 4px;
		font-size: .9em;
	}
	ul.dropdown-menu {
		min-width: 100%;
	}
	.agile-contact-form input[type="text"], .agile-contact-form input[type="email"] {
		width: 48%;
	}
}