@model Object
<div class="input-group date datetime">
	@Html.TextBoxFor(model => model, ViewData)
	<span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
    </span>
</div>