@model Object
<div class="input-group date dateonly">
	@Html.TextBoxFor(model => model, ViewData["htmlAttributes"])
	<span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
    </span>
</div>