@using K9.WebApplication.Extensions
@model Object
<div class="input-group date dateonly">
	@Html.TextBoxFor(model => model, this.GetFilteredViewData())
	<span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
    </span>
</div>