@using K9.SharedLibrary.Extensions
@using K9.WebApplication.Enums
@using K9.WebApplication.Extensions
@model DateTime?
@{
    var linkId = Guid.NewGuid().ToString();
    var dictionary = ViewData["viewDataDictionary"] as IDictionary<string, object>;
    dictionary.MergeAttribute(K9.Base.WebApplication.Constants.Html.Attributes.Id, linkId);
    var value = Model.HasValue ? Model.Value.ToString("yyyy-MM-dd") : "";
}
@if (this.GetDeviceType() == EDeviceType.Desktop)
{
    @Html.TextBox("", value, new { linkId, @class = "hidden-date-field", @readonly = "readonly", tabindex = -1 })
    <div class="input-group date datetime">
        @Html.TextBox(linkId, Model, dictionary)
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div>
}
else
{
    dictionary.MergeAttribute(K9.Base.WebApplication.Constants.Html.Attributes.Type, "datetime-local");
    dictionary.MergeAttribute(K9.Base.WebApplication.Constants.Html.Attributes.Value, Model?.ToString("yyyy-MM-dd HH:mm"));

    @Html.TextBox("", Model?.ToString("yyyy-MM-dd"), dictionary)
}