@model Object
@{
}
@Html.LabelFor(model => model)
<div class="input-group">
    <label class="input-group-btn">
        <span class="btn btn-primary btn-file">
            @Dictionary.Browse&hellip; @Html.TextBoxFor(model => model, new { type = "file", style = "display: none;", multiple = "multiple"})
        </span>
    </label>
	<input type="text" class="form-control file-label" readonly/>
</div>
