@using K9.Base.DataAccessLayer.Enums
@using K9.Base.WebApplication.Extensions
@using K9.Base.WebApplication.Helpers
@model K9.Base.DataAccessLayer.Enums.EGender
@{
    var selectList = this.GetDropdownData().GetSelectListFromEnum<EGender>(Convert.ToInt32(Model), true);   
}
<div class="desktop-only">
    @Html.BootstrapDropdownFor(model => model, selectList)
</div>
<div class="device-only">
    @Html.DropDownListFor(model => model, selectList, new { @class = "form-control" })
</div>