@model string

@{
    var isAbsolute = !string.IsNullOrEmpty(Model) && (Model.StartsWith("http"));
    var src = isAbsolute ? Model : Url.Content("~/" + (Model ?? "").TrimStart('~', '/'));
}

<div>
    <img class="img-responsive image-preview" loading="lazy" src="@src" />

    @Html.TextBoxFor(model => model, new {
        @class = "form-control image-url-text",
        placeholder = "Enter image URL"
    })
</div>