@using K9.SharedLibrary.Extensions
@model Object
@{
	ViewData.MergeAttribute(K9.WebApplication.Constants.Html.Attributes.Class, Bootstrap.Classes.FormControl);
	ViewData.MergeAttribute(K9.WebApplication.Constants.Html.Attributes.Type, K9.WebApplication.Constants.Html.Types.Password);
}
<div class="@Bootstrap.Classes.FormGroup">
	@Html.LabelFor(model => model)
	@Html.TextBoxFor(model => model, ViewData)
</div>
