@using K9.Base.WebApplication.Extensions
@model int?
@{
    var selectList = this.GetDropdownData().GetSelectList<Promotion>(Model, true, "Name");  
}
<div class="desktop-only">
    @Html.BootstrapDropdownFor(model => model, selectList, false, null, Dictionary.None)
</div>
<div class="device-only">
    @Html.DropDownListFor(model => model, selectList, Dictionary.None, new { @class = "form-control" })
</div>