@using K9.SharedLibrary.Extensions
@model Object
@{
	ViewData.AddCssClass(Bootstrap.Classes.FormControl);
}
<div class="@Bootstrap.Classes.FormGroup">
	@Html.LabelFor(model => model)
	@Html.TextBoxFor(model => model, ViewData)
</div>