@using System.Globalization
@using K9.WebApplication.Config
@using K9.WebApplication.Helpers
@model K9.WebApplication.Models.MoonPhase

@{
    string imagePath = Url.Content($"{DefaultValuesConfiguration.Instance.BaseImagesPath}/astrology/moon-phases/{Model.GetMoonPhaseImageFile()}");
}

<div class="moon-phase magic-tooltip-item" data-tooltip-title="@Dictionary.MoonPhase" data-tooltip="@($"{Dictionary.Illumination} {Model.IlluminationDisplay} {Model.GetMoonPhaseName()}")">
    <div class="moon-wrapper">
        <img src="@imagePath" alt="Moon Phase Image" />
    </div>
</div>