@model K9.WebApplication.Options.PieChartOptions

@{
    double total = Model.PieChartItems.Sum(x => x.Value);
    double current = 0;
    var segments = new List<string>();

    foreach (var item in Model.PieChartItems)
    {
        double start = current;
        double end = current + item.Value;
        segments.Add($"{item.Color} {start}% {end}%");
        current = end;
    }

    var gradient = string.Join(", ", segments);
}

<div class="pie-chart" style="background: conic-gradient(@gradient);"></div>

@if (Model.ShowLegend)
{
    <div class="container main-content clear-both ninestar-header-container margin-top-5 margin-bottom-20">
        <div class="row margin-bottom-10">
            <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-4">
                <div class="ninestar-summary-container">
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                                @foreach (var item in Model.PieChartItems)
                                {
                                    <tr>
                                        <td>
                                            <span class="legend-dot" style="background-color: @item.Color;"></span>
                                            <strong>@item.Title</strong>
                                        </td>
                                        <td>@(item.Value)%</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}